
.art_tea_banner {
    display: block;
    width: 16rem;
}
.tea {
    width: 100%;
    height: 1.0217391304347827rem;

    background: #eee;
}
po {
    position: relative;
}
.part1 {
    height: 18.5rem;
    overflow-x: hidden;
}
body {
    width: 16rem;
    height: 100%;
    overflow-x: hidden;
}
a {
    display: inline-block;
}
img {
    vertical-align: bottom;
}
.w {
    width: 31.304347826086957rem;
    margin: 0 auto;
}
span {
    display: inline-block;
}
.po {
    position: relative;
}
.po-a {
    position: absolute;
    top: 0;
    left: 50%;

    width: 31.304347826086957rem;
    margin-left: -15.652173913043478rem;
}
.part1 {
    height: 13.41304347826087rem;
    overflow-x: hidden;
}
.part1 .bg-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.part1 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.part1 .left-t {
    position: absolute;
    top: 1.826086956521739rem;
    left: 2.0869565217391304rem;

    width: 7.6521739130434785rem;
}
.part1 .left-t img {
    width: 100%;
}
.part1 .right-panel {
    position: absolute;
    top: 0;

    width: 16.304347826086957rem;
    height: 13.41304347826087rem;

    background: url("/static/images/part1-pic-3.jpg") no-repeat top center;
    background-size: 100%;
}
.right-panel .t-info {
    height: 7.04rem;
    margin-top: .8695652173913043rem;
    margin-left: 1.065217391304348rem;
}
.part1 .intro {
    margin-left: .08695652173913043rem;

    font-size: .391304347826087rem;

    color: #484848;
}
.part1 .line {
    width: .021739130434782608rem;
    height: .9347826086956522rem;
    margin-top: .15217391304347827rem;
    margin-left: .45652173913043476rem;

    background-color: #807e7e;
}
.part1 .t-name {
    margin-bottom: .1956521739130435rem;

    font-size: 1rem;

    color: #484848;
}
.part1 .t-name p {
    width: 5.173913043478261rem;
    margin-bottom: .5217391304347826rem;

    font-size: .5217391304347826rem;

    color: #625f5f;
}
.part1 .t-honer {
    width: 5.195652173913044rem;
    /* border: 1px solid red;
     */
    /* overflow: hidden;
     */
    /* white-space: nowrap;
     */
    /* text-overflow: ellipsis;
     */
    padding-top: .1956521739130435rem;
    overflow: hidden;

    font-size: .391304347826087rem;
    line-height: .6521739130434783rem;

    vertical-align: middle;

    color: #625f5f;
}
.part1 .t-honer p {
    margin-bottom: .021739130434782608rem;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.part1 .t-honer span {
    width: .15217391304347827rem;
    height: .15217391304347827rem;
    margin-right: .32608695652173914rem;

    vertical-align: middle;

    opacity: .5;
    border-radius: .15217391304347827rem;
    background-color: #000;
}
.part1 .t-pic {
    position: absolute;
    top: 1.3695652173913044rem;
    right: .6521739130434783rem;

    width: 9.41304347826087rem;
    height: 6.413043478260869rem;
}
.part1 .t-pic img {
    display: block;
    width: 100%;
    height: 100%;
}
.part1 .right-panel > div {
    /* display: inline-block;
     */
    /*vertical-align: middle;
     */
}
.part1 .t-deeds {
    display: block;
    /* position: absolute;
     */
    /* bottom: 1.1304347826086956rem;
     */
    /* left: 0.34782608695652173rem;
     */
    width: 15.021739130434783rem;
    height: 3.282608695652174rem;
    margin: .717391304347826rem auto 0;
    overflow: hidden;
    clear: both;
    /* padding-top: 0.8043478260869565rem;
     */
    /* padding-left: 2.108695652173913rem;
     */

    background-color: #ff570f;
}
.part1 .t-deeds p {
    width: 14.347826086956522rem;
    margin: .7391304347826086rem auto 0 .34782608695652173rem;
    /* width: 15.195652173913043rem;
     */

    font-size: .391304347826087rem;
    line-height: .5217391304347826rem;

    color: #fff;
}
/*part1 ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/
/*part2 ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹*/
.part2 {
    height: 15.91304347826087rem;
}
.part2 .bg-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.part2 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.part2 .title {
    width: 11.130434782608695rem;
    margin: 0 auto;
    margin-top: 1.7173913043478262rem;
}
.part2 .title img {
    width: 100%;
}
.part2-con {
    width: 100%;

    text-align: center;
}
.part2 .t-chara {
    margin-top: .043478260869565216rem;

    font-size: .782608695652174rem;

    letter-spacing: .043478260869565216rem;

    color: #484848;
}
.part2 .line {
    width: .043478260869565216rem;
    height: .8260869565217391rem;
    margin: 0 auto;
    margin-top: .30434782608695654rem;
    margin-bottom: .41304347826086957rem;

    opacity: .5;
    background-color: #484848;
}
.part2 .txt-wrap {
    margin-bottom: 1.4130434782608696rem;
}
.part2 .txt-wrap p {
    font-size: .391304347826087rem;
    line-height: .6521739130434783rem;

    letter-spacing: .021739130434782608rem;

    color: #484848;
}
.part2 .s-logo {
    width: 4.108695652173913rem;
    margin: 0 auto;
}
.part2 .s-logo img {
    width: 100%;
}
/*part2 ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/
.pc_banner {
    width: 100%;
}
.txt-wrap {
    font-size: .43478260869565216rem;
    line-height: .7391304347826086rem;

    letter-spacing: .021739130434782608rem;

    color: rgb(72,72,72);
}
.video {
    width: 100%;
    height: 19.82608695652174rem;

    background: rgba(255, 255, 255, .6);
    /* border: 1px solid red;
     */
}
.videoCon {
    width: 30.304347826086957rem;
    height: 100%;
    margin: auto;
    /* border: 1px solid red;
     */
}
.video_div {
    margin-bottom: .34782608695652173rem;
    margin-left: 1.0869565217391304rem;
}
.video_title {
    margin-top: 1.1956521739130435rem;
    overflow: hidden;

    font-size: .782608695652174rem;
    line-height: .782608695652174rem;

    text-align: center;

    color: rgb(87,87,87);
}
.video_info {
    margin-top: .2608695652173913rem;

    font-size: .41304347826086957rem;
    line-height: .41304347826086957rem;

    text-align: CENTER;

    color: rgb(87,87,87);
}
.video_line {
    width: .043478260869565216rem;
    height: .8260869565217391rem;
    margin: .34782608695652173rem auto 0;

    text-align: center;
    /* margin-top: 0.34782608695652173rem;
     */

    background: #9f9f9f;
}
.swiper-container {
    width: 100%;
    height: 6.521739130434782rem;
    margin-right: auto;
    margin-left: auto;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.gallery-top {
    float: right;
    width: 22.695652173913043rem;
    height: 13.91304347826087rem;
    overflow: hidden;
}
.gallery-thumbs {
    float: left;
    width: 7.260869565217392rem;
    height: 14.195652173913043rem;
    /* padding: 0.21739130434782608rem 0;
     */
    box-sizing: border-box;
}
.gallery-thumbs .swiper-slide {
    float: left;
    width: 25%;
    width: 7.260869565217392rem;
    height: 4.521739130434782rem;

    opacity: .4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.gallery-top .swiper-container {
    /* height: 100%!important;
     */
    height: 15.021739130434783rem;
}
.gallery-thumbs li {
    position: relative;

    width: 100%;
    height: 4.521739130434782rem;
    margin-bottom: .17391304347826086rem;

    cursor: pointer;
}
.bofan {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1.3478260869565217rem;
    height: 1.3478260869565217rem;
    margin-top: -.6739130434782609rem;
    margin-left: -.6739130434782609rem;
}
.gallery-thumbs .swiper-pagination-bullet {
    outline: medium;
}
.sup {
    position: relative;

    height: 16.565217391304348rem;
    overflow-x: hidden;
}
.sui_banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: 16.304347826086957rem;
}
.sup ul {
    position: relative;
    z-index: 1111111;

    width: 13.804347826086957rem;
    height: 14.043478260869565rem;
    padding: .32608695652173914rem .45652173913043476rem .32608695652173914rem .45652173913043476rem;
    margin: 1.0217391304347827rem auto 0;
    overflow: hidden;

    background: rgba(255,99,33,.5);
}
.sup ul > li {
    float: left;
    width: 6.826086956521739rem;
    height: 4.586956521739131rem;
    margin-right: .15217391304347827rem;
    margin-bottom: .1956521739130435rem;
}
.sup ul > li:nth-of-type(2n) {
    margin-right: 0;
}
.sup ul > li img {
    display: block;
    width: 100%;
    height: 100%;
}
.sup_bg {
    background: rgb(248,77,4);
}
.sup_bg .title {
    width: 100%;
    margin-top: .4782608695652174rem;

    font-size: .34782608695652173rem;
    line-height: .717391304347826rem;
    line-height: .6521739130434783rem;

    text-align: center;

    color: rgba(255,255,255,.7);
}
.title_Inf {
    margin-top: .06521739130434782rem;

    font-size: .6086956521739131rem;
    line-height: .6521739130434783rem;

    text-align: center;

    color: rgb(255,255,255);
}
.line {
    width: .043478260869565216rem;
    height: .5869565217391305rem;
    margin: .1956521739130435rem auto 0;

    background: rgba(255,255,255,.5);
}
.more {
    width: 3.5217391304347827rem;
    height: .9782608695652174rem;
    margin: .391304347826087rem auto 0;

    line-height: 1.0217391304347827rem;

    text-align: center;

    border: 1px solid rgba(255,255,255,.7);
    border-radius: .1956521739130435rem;
}
.more a {
    display: block;

    font-size: .41304347826086957rem;

    cursor: pointer;

    color: rgb(255,255,255);
}
.part1_stu {
    position: relative;

    width: 100%;
    padding-bottom: 2.6304347826086956rem;
    clear: both;

    background: #f0f0f0;
}
.part1_stu .title {
    width: 3.217391304347826rem;
    padding-top: .8043478260869565rem;
    margin: 0 auto;

    font-size: .782608695652174rem;
    line-height: .782608695652174rem;

    color: rgb(87,87,87);
}
.part1_stu .title_se {
    width: 100%;
    margin-top: .08695652173913043rem;

    font-size: .41304347826086957rem;
    line-height: .6739130434782609rem;

    text-align: center;

    color: rgb(87,87,87);
}
.part1_stu_line {
    width: .043478260869565216rem;
    height: .8260869565217391rem;
    margin: .45652173913043476rem auto 0;

    background: rgb(87,87,87);
}
.swiper-container_art_stu {
    width: 16rem;
    /*width: 31.304347826086957rem;
     */
    margin: .43478260869565216rem auto .9347826086956522rem;
}
.swiper-container_art_stu .swiper-wrapper .swiper-slide a,
.swiper-container_art_stu .swiper-wrapper .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
}
.part1_stu_more {
    display: block;
    width: 3.739130434782609rem;
    height: 1.065217391304348rem;
    margin: auto;

    font-size: .43478260869565216rem;
    line-height: 1.065217391304348rem;

    text-align: center;

    color: rgb(87,87,87);
    border: 1px solid rgba(87,87,87,.5);
    /* margin-bottom: 1.6304347826086956rem;
     */
}
.part2 {
    height: 14.41304347826087rem;
    overflow: hidden;
}
.part2 .bg-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.part2 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.po-a {
    position: absolute;
    top: 0;
    left: 50%;

    width: 31.304347826086957rem;
    width: 16.304347826086957rem;
    height: 10.891304347826088rem;
    margin-left: -8.152173913043478rem;
    /* border: 1px solid red;
     */
}
.part2 .title {
    width: 11.108695652173912rem;
    height: .6521739130434783rem;
    margin: 0 auto;
    margin-top: 1.9130434782608696rem;

    font-size: .717391304347826rem;
    line-height: .6521739130434783rem;

    text-align: center;

    color: rgba(72,72,72,.5);
    /* border: 1px solid red;
     */
}
.part2 .title img {
    width: 100%;
}
.part2-con {
    width: 100%;

    text-align: center;
}
.part2 .t-chara {
    margin-top: .32608695652173914rem;

    font-size: .782608695652174rem;
    line-height: .782608695652174rem;

    letter-spacing: .043478260869565216rem;

    color: #484848;
}
.part2 .line {
    width: .043478260869565216rem;
    height: .8260869565217391rem;
    margin: 0 auto;
    margin-top: .41304347826086957rem;
    margin-bottom: .5217391304347826rem;

    opacity: .5;
    background-color: #484848;
}
.part2 .txt-wrap {
    margin-bottom: 1.173913043478261rem;
}
.part2 .txt-wrap div {
    text-align: center;
    /* text-indent: 0rem;
     */
}
.part2 .txt-wrap p {
    font-size: .391304347826087rem;
    line-height: .6521739130434783rem;

    letter-spacing: .021739130434782608rem;

    color: #484848;
}
.part2 .s-logo {
    width: 2.4565217391304346rem;
    height: 3.391304347826087rem;
    margin: 0 auto;
}
.part2 .s-logo img {
    width: 100%;
}
.video {
    width: 16rem;
    padding-top: 1.1956521739130435rem;
    padding-bottom: .9565217391304348rem;
    margin: auto;
    clear: both;
    /* overflow: hidden;
     */

    background: #f0f0f0;
}
.video1 {
    position: relative;

    width: 15.021739130434783rem;
    height: 9.217391304347826rem;
    margin: .3695652173913043rem auto 0;
    /* border: 1px solid red;
     */
}
.art_video_bf {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1.826086956521739rem;
    height: 1.826086956521739rem;
    margin-top: -.9130434782608695rem;
    margin-left: -.9130434782608695rem;
}
.video2 {
    width: 15rem;
    height: 4.6521739130434785rem;
    margin: .10869565217391304rem auto 0;
    /* border: 1px solid red;
     */
}
.video2 li {
    float: left;
    width: 7.434782608695652rem;
    height: 4.6521739130434785rem;
    margin-left: .13043478260869565rem;
}
.video2 li:nth-of-type(1) {
    margin-left: 0!important;
}
.video_more_href {
    width: 3.739130434782609rem;
    height: 1.065217391304348rem;
    margin: .6739130434782609rem auto 1rem;

    line-height: 1.065217391304348rem;

    text-align: center;

    border: 1px solid rgba(87,87,87,.5);
}
.video_more_href a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: .43478260869565216rem;

    color: rgb(87,87,87);
}
.yk {
    width: 100%!important;
    height: 100%!important;
}
