@charset "utf-8"; /* ***reset*** */

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}

form {
    display: inline;
}

img {
    border: 0;
}

td {
    word-break: break-all;
}

dd,
dl,
dt,
li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* a:hover {
    color:black;
} */
body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}

.f-fr {
    float: right;
}

.f-fl {
    float: left;
}

.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}

.f-cb {
    zoom: 1;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;
}

.wrapper {
    width: 15.99829352rem;
    margin: 0 auto;
}

.wrapper .g-container {
    width: 15.99829352rem;
    margin: 0 auto;
}

#header img,
#footer img {
    display: block;
    width: 100%;
}

.news .head {
    height: 5.11945392rem;

    background: url("../images/news_bg1.jpg") left center no-repeat #eeeeed;
    background-size: auto 100%;
}

.news .head .g-doc {
    height: 100%;
}

.news .head p {
    float: right;
    width: 10.66552901rem;
    padding-top: 1.66382253rem;
    margin-right: .76791809rem;

    font-size: .6612628rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .55460751rem;

    text-align: right;
    letter-spacing: 0rem;

    opacity: .7;
    color: #ea5413;
}

.news .head .line {
    float: right;
    width: 1.38651877rem;
    height: .08532423rem;
    margin-top: .38395904rem;
    margin-right: .76791809rem;
    margin-left: 10.66552901rem;

    opacity: .5;
    background-color: #ea5413;
}

.news .head h1 {
    float: right;
    width: 10.66552901rem;
    margin-top: .34129693rem;
    margin-right: .76791809rem;

    font-size: .93856655rem;
    /*font-weight: normal;*/
    font-stretch: normal;
    line-height: .93856655rem;

    text-align: right;
    letter-spacing: 0rem;

    color: #ea5413;
}

.news .banner {
    height: 5.33276451rem;
    padding-top: .63993174rem;

    background-color: #e6e6e6;
}

.news .banner .slider-wrapper {
    position: relative;

    width: 100%;
    height: 4.2662116rem;
    overflow: hidden;
}

.news .banner .slider-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 45.64846416rem;
    height: 4.2662116rem;
}

.news .banner .item {
    float: left;
    width: 6.78327645rem;
    height: 4.2662116rem;
    margin-right: .29863481rem;
    overflow: hidden;

    border-radius: .14931741rem;
    background-color: #fff;
}

.news .banner .item img {
    display: block;
    width: 100%;
    height: 100%;
}

.news_list .list {
    padding: .68259386rem 0 2.04778157rem;

    background-color: #ebedee;
}

.news_list .list .item {
    width: 15.27303754rem;
    padding-bottom: .55460751rem;
    margin: 0 auto .76791809rem;

    background-color: #fff;
    box-shadow: .06399317rem .08532423rem .38395904rem 0rem rgba(33, 22, 19, .06);
}

.news_list .list .item img {
    display: block;
    width: 100%;
}

.news_list .list .item h2 {
    padding: 0 .42662116rem;
    margin-top: .59726962rem;

    font-size: .55460751rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    letter-spacing: 0rem;

    color: #2e2d2d;
}
.news_list .list .item h2 a {
    display: block;
    width: 100%;
    height: 100%;

    color: #2e2d2d;
}
.news_list .list .item .des {
    width: 14.41979522rem;
    height: auto;
    padding: 0 .42662116rem;
    margin-top: .34129693rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: justify;
    letter-spacing: 0rem;

    opacity: .7;
    color: #444;
}
.news_list .list .item .des .desa {
    /* width:100%; */
    height: 100%;
    /* display:block; */

    font-size: .38395904rem;

    text-align: justify;

    opacity: .7;
    color: #444;
}
.news_list .list .item .des span,
.news_list .list .item .des span .desaH {
    color: #f24c04;
}

.news_list .list .item .tools {
    padding: 0 .42662116rem;
    margin-top: 1.02389078rem;

    font-size: .29863481rem;
    line-height: .51194539rem;
}

.news_list .list .item .tools span {
    font-size: .29863481rem;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: -1px;

    color: #bdbdbd;
}

.news_list .list .item .tools .click {
    margin-right: .21331058rem;

    font-size: .29863481rem;
    line-height: .29863481rem;
}

.news_list .list .item .tools .share-wrapper {
    float: right;
    width: 4.69283276rem;
    height: .51194539rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    color: #8c8c8c;
}

.news_list .list .item .tools .share-wrapper img {
    display: inline-block;
    width: 2.30375427rem;

    vertical-align: middle;
}

.news_list .list .item .tools .icon_click {
    display: inline-block;
    width: .29863481rem;
    height: .29863481rem;

    vertical-align: -1px;

    background: url("../images/icon_click.png") center center no-repeat;
    background-size: cover;
}

.news_list .list .item .tools .icon_share {
    display: inline-block;
    width: .42662116rem;
    height: .42662116rem;
    margin-right: .08532423rem;

    vertical-align: middle;

    background: url("../images/icon_share.png") center center no-repeat;
    background-size: cover;
}

.news_list .list .pageindex {
    height: 1.53583618rem;
    padding: 0 .42662116rem;
    margin-top: 1.62116041rem;
}

.news_list .list .pageindex li {
    display: inline-block;
    margin-right: .08532423rem;

    font-size: .51194539rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.49317406rem;

    letter-spacing: 0rem;

    color: #474747;
    border: solid 1px #e6e6e6;
    background-color: #fff;
}
.news_list .list .pageindex li:nth-of-type(1) {
    padding: 0 .51194539rem;
}
.news_list .list .pageindex li:last-child {
    display: none;
}

.news_list .list .pageindex li a {
    padding: 0 .51194539rem;

    line-height: 1.49317406rem;

    color: #474747;
}

.news_list .list .pageindex li.thisclass,
.news_list .list .pageindex li:hover {
    color: #fff;
    background-color: #ea5413;
}

.news_list .list .pageindex li.thisclass a,
.news_list .list .pageindex li:hover a {
    color: #fff;
}

.news_list .list .pageindex li.thisclass {
    padding: 0 .51194539rem;
}

.news_article .article {
    padding: 1.23720137rem .63993174rem 1.49317406rem;

    background-color: #fff;
}

.news_article .article .article-head {
    text-align: center;
}

.news_article .article .article-head h2 {
    font-size: .59726962rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.70648464rem;

    letter-spacing: 0rem;

    opacity: .8;
    color: #000;
}

.news_article .article .article-head p {
    font-size: .42662116rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59726962rem;

    letter-spacing: 0rem;

    opacity: .5;
    color: #000;
}

.news_article .article .article-content {
    padding-top: 1.27986348rem;
}

.news_article .article .article-content p {
    margin-bottom: .42662116rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    text-align: justify;
    letter-spacing: 0rem;

    opacity: .9;
    color: #494b4d;
}

.news_article .article .article-content img {
    display: block;
    width: 100%;
    width: 100% !important;
    height: auto !important;
    margin: auto;
    margin-bottom: .68259386rem;
}

.news_article .article .tools {
    /*padding: 0 20rem/@fb;*/
    height: .51194539rem;
    margin-top: .63993174rem;
    margin-bottom: 1.27986348rem;

    font-size: .38395904rem;
    line-height: .51194539rem;
}

.news_article .article .tools span {
    font-size: .29863481rem;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: -1px;

    color: #bdbdbd;
}

.news_article .article .tools .share-wrapper {
    float: right;
    width: 4.47952218rem;
    height: .51194539rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;

    color: #8c8c8c;
}

.news_article .article .tools .share-wrapper img {
    display: inline-block;
    width: 2.30375427rem;

    vertical-align: middle;
}

.news_article .article .tools .icon_share {
    display: inline-block;
    width: .42662116rem;
    height: .42662116rem;
    margin-right: .08532423rem;

    vertical-align: middle;

    background: url("../images/icon_share.png") center center no-repeat;
    background-size: cover;
}

.news_article .article .bottomnav {
    font-size: .46928328rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .68259386rem;

    letter-spacing: 0rem;

    opacity: .78;
    color: #494b4d;
}

.news_article .article .bottomnav a {
    line-height: .68259386rem;

    vertical-align: middle;
}

.news_article .article .bottomnav .prev {
    margin-bottom: .21331058rem;

    line-height: .68259386rem;
}

.news_article .article .bottomnav .next {
    line-height: .68259386rem;
}

.news_article .article .bottomnav .icon_prev {
    display: inline-block;
    width: .51194539rem;
    height: .51194539rem;
    margin-right: .21331058rem;

    vertical-align: middle;

    background: url("../images/icon_prev.png") center center no-repeat;
    background-size: cover;
}

.news_article .article .bottomnav .icon_next {
    display: inline-block;
    width: .51194539rem;
    height: .51194539rem;
    margin-right: .21331058rem;

    vertical-align: middle;

    background: url("../images/icon_next.png") center center no-repeat;
    background-size: cover;
}

.news_article .article .bottomnav a {
    color: #494b4d;
}
