
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}
form {
    display: inline;
}
img {
    border: 0;
}
td {
    word-break: break-all;
}
dd,
dl,
dt,
li,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* a:hover {
    color:black;
} */
body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}
.f-fr {
    float: right;
}
.f-fl {
    float: left;
}
.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}
.f-cb {
    zoom: 1;
}
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;
}
.brand .g-container {
    max-width: 15.99829352rem;
    min-width: 15.99829352rem;
    margin: 0 auto;
    overflow: hidden;
}
.brand .g-container .g-doc {
    width: 15.99829352rem;
    margin: 0 auto;
}
.brand .g-container .g-doc .g-title h2 {
    font-size: .85324232rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85324232rem;

    text-align: center;
    letter-spacing: 0rem;
}
.brand .g-container .g-doc .g-title p {
    margin-top: .21331058rem;

    font-size: .55460751rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .55460751rem;

    text-align: center;
    letter-spacing: 0rem;

    opacity: .8;
}
.brand .g-container .g-doc .consult {
    display: block;
}
.brand .banner {
    height: 15.87030717rem;

    background: url("/static/images/brand_banner.jpg?v=0.1") center top no-repeat;
    background-size: auto 100%;
}
.brand .banner .g-doc {
    position: relative;

    height: 15.87030717rem;
}
.brand .m1 {
    height: 15.18771331rem;

    background: url("/static/images/brand_bg1.jpg") center top no-repeat;
    background-size: auto 100%;
}
.brand .m1 .g-doc {
    padding-top: 1.49317406rem;
}
.brand .m1 .g-doc .g-title h2 {
    color: #001621;
}
.brand .m1 .g-doc .g-title p {
    color: #3b4147;
}
.brand .m1 .g-doc .g-content p {
    width: 14.29180887rem;
    margin: 0 auto;
    margin-top: .89590444rem;

    font-size: .51194539rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .76791809rem;

    text-align: justify;
    text-indent: 2em;
    letter-spacing: .06399317rem;

    color: #96979c;
}
.brand .m1 .g-doc .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: .42662116rem auto 0;

    background: url("/static/images/brand_consult1.png") center top no-repeat;
    background-size: auto 100%;
}
.brand .m2 {
    height: 12.37201365rem;

    background: url("/static/images/brand_bg2.jpg") center top no-repeat;
    background-size: auto 100%;
}
.brand .m2 .g-doc {
    padding-top: 1.40784983rem;
}
.brand .m2 .g-doc .g-title h2 {
    color: #f97547;
}
.brand .m2 .g-doc .g-title p {
    color: #f8835b;
}
.brand .m2 .g-doc .g-content {
    margin-top: 1.19453925rem;
}
.brand .m2 .g-doc .g-content .swiper-container {
    width: 13.48122867rem;
    height: 5.11945392rem;
    padding: .04266212rem;
    margin: 0 auto;
    overflow: hidden;

    border: solid .21331058rem #ffff ;
    background: #bb5b3e;
}
.brand .m2 .g-doc .g-content .swiper-container .swiper-wrapper,
.brand .m2 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide {
    background: #bb5b3e;
}
.brand .m2 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide ul li {
    float: left;
    margin: .04266212rem;

    background: #bb5b3e;
}
.brand .m2 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide ul li img {
    display: block;
    width: 3.28498294rem;
    height: 2.47440273rem;
}
.brand .m2 .g-doc .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: .63993174rem auto 0;

    background: url("/static/images/brand_consult2.png") center top no-repeat;
    background-size: auto 100%;
}
.brand .m3 {
    height: 18.25938567rem;
}
.brand .m3 .g-doc {
    padding-top: 1.62116041rem;

    background: url("/static/images/brand_bg3.jpg") center 1.62116041rem no-repeat;
    background-size: 7.03924915rem .98122867rem;
}
.brand .m3 .g-doc .g-title h2 {
    color: #7b7d81;
}
.brand .m3 .g-doc .g-title p {
    color: #8d8f92;
}
.brand .m3 .g-doc .g-content {
    height: 11.09215017rem;
    margin-top: .68259386rem;
}
.brand .m3 .g-doc .g-content .col {
    float: left;
}
.brand .m3 .g-doc .g-content .col img {
    display: block;
    width: 7.80716724rem;
}
.brand .m3 .g-doc .g-content .col1 {
    float: left;
    width: 7.80716724rem;  /*margin-left: 26rem/@fb;*/
}
.brand .m3 .g-doc .g-content .col1 .item {
    position: relative;

    margin-bottom: .55460751rem;
}
.brand .m3 .g-doc .g-content .col1 .item p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 7.63651877rem;
    height: .89590444rem;
    padding-top: 1.15187713rem;
    padding-left: .17064846rem;

    font-size: .61860068rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    letter-spacing: 1px;

    color: #fff;
    background: url("/static/images/brand_bg3_1.png") left center no-repeat;
    background-size: 3.88225256rem auto;
}
.brand .m3 .g-doc .g-content .col2 {
    float: right;
    width: 7.80716724rem;  /*margin-left: 26rem/@fb;*/
}
.brand .m3 .g-doc .g-content .col2 .item {
    position: relative;

    margin-bottom: .55460751rem;
}
.brand .m3 .g-doc .g-content .col2 .item p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 7.63651877rem;
    height: .89590444rem;
    padding-top: 1.15187713rem;
    padding-right: .17064846rem;

    font-size: .61860068rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    text-align: right;
    letter-spacing: 1px;

    color: #fff;
    background: url("/static/images/brand_bg3_2.png") right center no-repeat;
    background-size: 3.88225256rem auto;
}
.brand .m3 .g-doc .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: .63993174rem auto 0;

    background: url("/static/images/brand_consult3.png") center top no-repeat;
    background-size: auto 100%;
}
.brand .m4 {
    position: relative;

    height: 12.79863481rem;

    background: url("/static/images/brand_bg4.jpg?v=0.1") center top no-repeat;
    background-size: auto 100%;
}
.brand .m4 .g-doc {
    padding-top: 1.0665529rem;
}
.brand .m4 .g-doc .g-title h2 {
    color: #2b2c2d;
}
.brand .m4 .g-doc .g-title p {
    color: #b3b2b5;
}
.brand .m4 .g-doc .g-content {
    position: absolute;
    bottom: 0rem;

    width: 100%;
    height: 3rem;
    padding-bottom: .85324232rem;
    margin-top: 5.46075085rem;

    opacity: .55;
    background-color: #7c787b;
}
.brand .m4 .g-doc .g-content p,
.g-content-p {
    position: absolute;
    bottom: .2rem;
    left: 0rem;

    width: 14.54778157rem;
    width: 100%;
    padding-top: .85324232rem;
    margin: 0 auto;

    font-size: .42662116rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    text-indent: 2em;
    letter-spacing: 0;

    opacity: 1;
}
.brand .m4_2 .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: .63993174rem auto .42662116rem;

    background: url("/static/images/brand_consult4.png") center top no-repeat;
    background-size: auto 100%;
}
.brand .m5 {
    height: 26.87713311rem;

    background: url("/static/images/brand_bg5.jpg") center top no-repeat;
    background-size: auto 100%;
}
.brand .m5 .g-doc {
    padding-top: .76791809rem;
}
.brand .m5 .g-doc .g-title h2 {
    color: #919399;
}
.brand .m5 .g-doc .g-title p {
    color: #6c6b6e;
}
.brand .m5 .g-doc .g-content {
    height: 19.70989761rem;
    margin-top: .85324232rem;
}
.brand .m5 .g-doc .g-content .item {
    position: relative;

    float: left;  /*margin-left: 14rem/@fb;*/
    margin-bottom: .42662116rem;
}
.brand .m5 .g-doc .g-content .item img {
    display: block;
    height: 9.59897611rem;
}
.brand .m5 .g-doc .g-content .item p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    font-size: .61860068rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.27986348rem;

    text-align: center;
    letter-spacing: 1px;

    color: #fff;
}
.brand .m5 .g-doc .g-content .item1 {
    margin-left: 0;
}
.brand .m5 .g-doc .g-content .item2,
.brand .m5 .g-doc .g-content .item4 {
    margin-left: .38395904rem;
}
.brand .m5 .g-doc .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: 1.0665529rem auto 0;

    background: url("/static/images/brand_consult5.png") center top no-repeat;
    background-size: auto 100%;
}
.brand .m6 {
    height: 20.90443686rem;
    padding-bottom: 5rem;
}
.brand .m6 .g-doc {
    padding-top: 1.83447099rem;

    background: url("/static/images/brand_bg6.jpg") center 1.83447099rem no-repeat;
    background-size: 8.02047782rem;
}
.brand .m6 .g-doc .g-title h2 {
    color: #919399;
}
.brand .m6 .g-doc .g-title p {
    color: #6c6b6e;
}
.brand .m6 .g-doc .g-content {
    position: relative;

    height: 12.79351536rem;
    padding-top: .98122867rem;
    margin-top: 1.91979522rem;
    overflow: hidden;

    background: url("/static/images/brand_img6.jpg") center center no-repeat;
    background-size: cover;
}
.brand .m6 .g-doc .g-content .swiper-container {
    width: 15.35836177rem;
    margin: auto;
}
.brand .m6 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide .box {
    position: relative;

    padding: .68259386rem .76791809rem .93856655rem .76791809rem;

    background: #fff;
}
.brand .m6 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide .box img {
    width: 14.07849829rem;
    margin: 0 auto;
}
.brand .m6 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide .box p {
    position: absolute;
    bottom: .3rem;
    left: .76791809rem;

    margin-top: .2rem;

    font-size: .51194539rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    letter-spacing: 0rem;

    opacity: .8;
    color: #000;
}
.brand .m6 .g-doc .g-content .swiper-container .swiper-wrapper .swiper-slide .box p span {
    padding-left: .63993174rem;

    font-size: .34129693rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    letter-spacing: 0rem;

    opacity: .5;
    color: #000;
}
.brand .m6 .g-doc .consult {
    width: 6.69795222rem;
    height: 1.53583618rem;
    margin: 1.40784983rem auto 0;

    background: url("/static/images/brand_consult6.png") center top no-repeat;
    background-size: auto 100%;
}
/* .m3,
.m5 {
    display: none;
}
 */
