/*
* @Author: Administrator
* @FileName:index.css
* @Date:   2019-01-16 14:06:05
* @Last Modified by:   August1Rush
* @Last Modified time: 2019-03-09 11:43:53
*/
.index_tea {
    display: block;
    width: 16.0rem;
    height: 10.773333rem;
    margin: 0rem auto 0rem;
    overflow: hidden;
}
.index_envicon {
    display: block;
    width: 16.0rem;
    height: 18.81rem;
    margin: 1.408rem auto 0;
    overflow: hidden;
    /* border: 1px solid red; */
}
.index_tea img {
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;
}
.index_cou {
    width: 15.445333rem;
    /* padding-top: .448rem!important; */
    /* height: 14.08rem; */
    margin: auto;
    margin-top: 1.088rem;
    /* border: 1px solid red; */
    overflow: hidden;
}
.index_stu {
    width: 15.445333rem;
    padding-top: .448rem!important;
    /* height: 14.08rem; */
    margin: auto;
    margin-top: 1.088rem;
    /* border: 1px solid red; */
    overflow: hidden;
}
.index_stu_title {
    float: left;
    width: 3.826667rem;

    font-size: .704rem;
    line-height: .704rem;

    text-indent: .170667rem;

    color: rgb(42,42,42);
}
.index_stu_paption {
    position: relative;
    bottom: -.1rem!important;

    float: right;
    width: .958667rem!important;
    height: .64rem;
    margin-right: .448rem;
}
.index_stu_paption > span:nth-of-type(1) {
    float: left;

    font-size: .597333rem;
    line-height: .597333rem;

    color: rgb(252,100,0);
}
.index_stu_paption > span:nth-of-type(2) {
    right: .42rem;

    display: block;
    width: .021333rem;
    height: .64rem;
    /* float: left; */
    /* overflow: hidden; */

    transform: rotate(25deg);

    color: rgb(102,102,102)!important;
    background: rgb(102,102,102)!important;
}
.index_stu_paption > span:nth-of-type(3) {
    float: right;

    font-size: .597333rem;
    line-height: .597333rem;

    color: rgb(102,102,102);
}
.index_stu .swiper-slide > ul > li {
    float: left;
    width: 5.056rem;
    height: 6.442667rem;
    margin-right: .106667rem;
    margin-bottom: .106667rem;
}
.courseCon .swiper-slide > ul > li {
    float: left;
    width: 5.01333rem;
    height: 6.10133rem;
    margin-right: .192rem;
    margin-bottom: .66133rem;
}
.courseCon .swiper-slide > ul > li > p:nth-of-type(1) {
    height: .53333rem;
    margin-top: .288rem;

    font-size: .46933rem;
    line-height: .53333rem;

    color: rgb(93,86,83);
}
.courseCon .swiper-slide > ul > li > p:nth-of-type(2) {
    font-size: .32rem;
    line-height: .53333rem;

    color: rgba(93,86,83,.5);
}
.index_stu .swiper-slide > ul > li:nth-of-type(3n) {
    margin-right: 0rem!important;
}
.index_stu .swiper-slide > ul > li > a,
.index_stu .swiper-slide > ul > li > a > img {
    display: block;
    width: 100%;
    height: 100%;
}
.courseCon .swiper-slide > ul > li > a,
.courseCon .swiper-slide > ul > li > a > img {
    display: block;
    width: 100%;
    height: 5.03467rem;

    border-radius: 1rem;
}
.index_stu_more_href {
    top: 4.906667rem;
    left: 5.141333rem;

    width: 5.098667rem;
    height: 4.16rem;
}
.index_stu_more_href img {
    display: block;
    width: 100%;
    height: 100%;
}
.index_stu_hz_title,
.index_stu_hz_MAKEUP,
.index_stu_hz_more {
    position: absolute;
}
.index_stu_hz_title {
    top: 5.802667rem;
    left: 5.504rem;

    font-size: .554667rem;

    color: #fff;
}
.index_stu_hz_MAKEUP {
    top: 6.549333rem;
    left: 5.504rem;

    font-size: .725333rem;

    color: rgba(255,255,255,.6);
}
.index_stu_hz_more {
    top: 7.936rem;
    right: 7.317333rem;

    font-size: .512rem;
    line-height: .554667rem;

    color: rgb(255,255,255);
}
.index_tea_title {
    float: left;
    width: 3.826667rem;

    font-size: .704rem;
    line-height: .704rem;

    text-indent: .853333rem;

    color: rgb(42,42,42);
}
.index_tea_paption,
.index_envi_paption {
    position: relative;
    bottom: -.15rem!important;

    float: right;
    width: .958667rem!important;
    height: .64rem;
    margin-right: .448rem;
}
.index_tea_paption > span:nth-of-type(1),
.index_envi_paption > span:nth-of-type(1) {
    float: left;

    font-size: .597333rem;
    line-height: .597333rem;

    color: rgb(252,100,0);
}
.index_tea_paption > span:nth-of-type(2),
.index_envi_paption > span:nth-of-type(2) {
    right: .42rem;

    display: block;
    width: .021333rem;
    height: .64rem;
    /* float: left; */
    overflow: hidden;

    transform: rotate(25deg);

    color: rgb(102,102,102);
    background: rgb(102,102,102);
}
.index_tea_paption > span:nth-of-type(3),
.index_envi_paption > span:nth-of-type(3) {
    float: right;

    font-size: .597333rem;
    line-height: .597333rem;

    color: rgb(102,102,102);
}
.index_envi_banner {
    top: 1.130667rem;
    z-index: -1;

    width: 16rem;
}
.index_envi {
    width: 13.504rem!important;
    /* height: 8.341333rem; */
    margin: 2.3rem auto 0!important;
    /* border: 1px solid red; */
    overflow: hidden;
}


/* .index_envi .swiper-wrapper, */
/* .index_envi .swiper-wrapper .swiper-slide, */
.index_envi .swiper-wrapper .swiper-slide a,
.index_envi .swiper-wrapper .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
}
.index_envicon {
    display: block;
    width: 16.0rem;
}
.environmentdisplay_Right_T {
    z-index: 1;

    display: block;
    width: 4.394667rem;
    height: .853333rem;
    margin: .533333rem auto 0 1.578667rem;
}
.index_envi_des {
    display: block;
    margin-top: .32rem;
    margin-left: 1.578667rem;

    font-size: .597333rem;
    line-height: .874667rem;

    color: rgb(248,77,4);
}
.index_envi_des_info {
    /* color: black; */
    display: block;
    width: 12.416rem;
    margin: .234667rem 0 0 1.578667rem;

    font-size: .384rem;
    line-height: .49067rem;

    color: rgb(77,83,86);
}
.index_envicon_more_href {
    position: absolute;
    top: 14.954667rem;
    left: 10.261333rem;

    display: block;
    width: 4.202667rem;
    height: 1.258667rem;
}
.index_envicon_more_href img {
    display: block;
    width: 100%;
    height: 100%;
}
.index_envicon_index {
    position: absolute;
    top: 11.242667rem;
    left: 12.864rem;

    font-size: 1.301333rem;
    line-height: .874667rem;

    color: rgb(248,77,4);
}
.index_new {
    position: relative;

    height: 25.514667rem;
    overflow: hidden;
    /* border: 1px solid red; */
    overflow: hidden;
    clear: both;

    background: #fff;
}
.index_new_title {
    display: block;
    /* background-color: white; */
    margin: 1.173333rem auto 0;

    font-size: .64rem;
    line-height: .554667rem;

    text-align: center;

    color: rgb(0,22,33);
}
.index_new_title_title {
    display: block;
    height: .554667rem;
    margin: .213333rem auto 0;

    font-size: .277333rem;

    text-align: center;

    color: rgba(0,22,33,.3);
}
.new_tq {
    width: 15rem;
    margin: .458667rem auto 0;
    overflow: hidden;
    /* border: 1px solid red; */
}
.new_tq li:nth-of-type(1) {
    margin-left: 0!important;
}
.new_tq li {
    position: relative;

    float: left;
    width: 3.157333rem;
    height: 3.157333rem;
    margin-left: .789333rem;

    line-height: 1.194667rem;

    border-radius: 50%;
}
.new_tit_tq_In {
    margin: .853333rem auto 0;

    font-size: .469333rem;
    line-height: .597333rem;

    color: rgb(255,255,255);
}
.new_tq1 {
    background: rgb(254, 123, 0);
}
.new_tit_tq_In p,
.new_tq3 p {
    width: 100%;

    font-size: .512rem;
    /* margin-top: 52px; */
    line-height: .725333rem;

    text-align: center;
}
.new_tq2 {
    background: rgb(246,151,0);
}.new_tq3 {

    background: rgb(2,111,195);
}.new_tq4 {

    background: rgb(110,203,189);
}
.new_tq2_in1 {
    width: 100%;
    margin-top: 1.024rem;

    font-size: .469333rem;

    text-align: center;
}
.new_tq3 p {
    font-size: .512rem;
    /* line-height:48px; */
}
.new_tq3 p:nth-of-type(1) {
    margin-top: .917333rem;
}
.new_Tit_Tie {
    display: block;
    width: 5.866667rem;
    height: .768rem;
    margin-top: 1.408rem;
    /* position:  absolute; */
    margin-left: .917333rem;
}
.index_new_tmd {
    right: 0;
    bottom: 0;
    left: 0;

    height: 1.92rem;

    background: rgba(0, 22, 33, .34);
}
.index_new_ny {
    bottom: 1.024rem;
    left: .277333rem;

    font-size: .661333rem;
    line-height: .661333rem;

    color: rgb(214,215,217);
}
.index_new_sw_nr {
    bottom: .384rem;
    left: .384rem;

    font-size: .341333rem;

    color: rgb(214,215,217);
}
.index_new_swiper {
    width: 14.805333rem;
    height: 9.344rem;
    margin: .512rem auto 0;
    overflow: hidden;
}
.index_new_swiper .swiper-slide a,
.index_new_swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.index_new_tmd {
    right: 0;
    bottom: 0;
    left: 0;

    height: 1.92rem;

    background: rgba(0, 22, 33, .34);
}
.new_Con_left {
    position: absolute;
    top: 16.682667rem;
    left: 0;
    z-index: 0;

    width: 16rem;
    height: 8.832rem;
    /* margin-top: 17px; */
    /* margin-bottom: 227px; */

    background: rgb(235,237,238);
}
.new_Con_left .swiper-pagination-bullet {
    opacity: 1!important;
    background: none!important;
}
.new_Con_left .swiper-pagination-bullet a {
    display: block;
    width: 100%;
    height: 100%;
}
.index_new_tmd {
    right: 0;
    bottom: 0;
    left: 0;

    height: 1.92rem;

    background: rgba(0, 22, 33, .34);
}
.index_new_tmd_con {
    right: 0;
    bottom: 0;
    left: 0;

    height: 1.92rem;

    line-height: 1.92rem;
}
.index_new_tmd_con li:nth-of-type(1) {
    font-size: .661333rem;
    line-height: .66133rem;

    color: rgb(214,215,217);
}
.index_new_tmd_con li:nth-of-type(2) {
    font-size: .341333rem;
    line-height: .341333rem;

    color: rgb(214,215,217);
}
.index_new_ny {
    bottom: 1.024rem;
    left: .277333rem;

    font-size: .661333rem;
    line-height: .661333rem;

    color: rgb(214,215,217);
}
.index_new_r {
    bottom: 1.024rem;
    left: 2.218667rem;

    font-size: .32rem;

    color: rgb(214,215,217);
}
.index_new_sw_nr {
    bottom: .384rem;
    left: .384rem;

    font-size: .341333rem;

    color: rgb(214,215,217);
}
.new_con_left .swiper-pagination-bullet {
    opacity: 1!important;
    background: none!important;
}
.new_Con_left .swiper-pagination-bullet a {
    display: block;
    width: 100%;
    height: 100%;
}
.new_list_index_1 dd:nth-of-type(1) {
    font-size: 1.002667rem;
    font-weight: bold;
    line-height: .853333rem;

    color: rgb(76,81,84);
}
.new_list_index_1 dd:nth-of-type(2) {
    margin-top: .106667rem;

    font-size: .32rem;
    line-height: .32rem;

    color: rgb(76,81,84);
}
.new_list_index li:nth-of-type(2) {
    width: 1px;
    height: 1.28rem;
    margin-right: .384rem;
    margin-left: .448rem;
    /* text-shadow: 0 0 black; */

    opacity: .5;
    background: rgb(215, 94, 43);
}
.new_list_index li {
    float: left;
}
.new_list_index li:nth-of-type(3) {
    margin-top: .10667rem;

    font-size: .34133rem;
    line-height: .55467rem;

    opacity: .88;
    color: rgb(76,81,84);
}
.new_list_index:nth-of-type(1) {
    /* padding-top: 97px; */
    margin-top: 2.112rem;
}
.index_new_list_active:nth-of-type(1) {
    color: rgb(215,94,43);
}
.index_new_list_active li:nth-of-type(2) {
    background: rgb(215, 94, 43);
}
.index_new_list_active dd:nth-of-type(1) {
    color: rgb(248,77,4);
}
.index_new_list_active dd:nth-of-type(2) {
    color: rgb(215,94,43);
}
.index_new_list_active li:nth-of-type(3) {
    color: rgb(215,94,43);
}
.new_list_index li {
    float: left;
}
.new_list_index_1 {
    width: 1.28rem;

    text-align: center;
}
.new_Con_left_pap {
    width: 100%;
    height: 100%;
}
.new_list_index {
    width: 11.34933rem!important;
    height: 1.28rem!important;
    margin-bottom: .72533rem;
    margin-left: 1.36533rem;
    /* overflow: hidden; */
    /* border: 1px solid red; */

    border-radius: inherit;
    outline: magenta;
}
.new_Con_left  .swiper-pagination-bullet-active,
.new_Con_left  .swiper-pagination-bullet-active a {
    outline: mediumaquamarine;
    background: none!important;
}
/*foucs*/
.new_Con_left .swiper-pagination-bullet-active dd:nth-of-type(1) {
    color: rgb(248,77,4);
}
.new_Con_left .swiper-pagination-bullet-active dd:nth-of-type(2) {
    color: rgb(215,94,43);
}
.new_Con_left .swiper-pagination-bullet-active li:nth-of-type(3) {
    opacity: .8;
    color: rgb(215,94,43);
}
.new_Con_left .swiper-pagination-bullet {
    opacity: 1!important;
    background: none!important;
}
/* 主页底部 */
.index_footer {
    position: relative;

    width: 16rem;
    margin-bottom: 2.048rem;
    overflow: hidden;

    background: #fff;
}
.index_fooer_title {
    display: block;
    width: 5.376rem;
    height: 1.536rem;
    margin: 1.408rem 0 0 1.13067rem;
}
.index_footer_zxbm {
    display: block;
    margin: .42667rem 0 0 1.13067rem;

    font-size: .448rem;
    line-height: .42667rem;

    color: rgb(248,77,4);
}
img {
    display: block;
}
.index_footer_ipone {
    display: block;
    margin-top: .17067rem;
    margin-left: 1.13067rem;

    font-size: .59733rem;
    line-height: .42667rem;

    color: rgb(248,77,4);
}
.index_footer_address {
    display: block;
    margin-top: .32rem;
    margin-bottom: 1.89867rem;
    margin-left: 1.13067rem;

    font-size: .384rem;
    line-height: .384rem;

    color: rgb(248,77,4);
}
.index_footer_xcx {
    position: absolute;
    top: 1.36533rem;
    right: 1.00267rem;

    width: 3.37067rem;
    height: 3.37067rem;
    overflow: hidden;

    border-radius: 50%;
    background: rgb(241,241,241);
}
.index_footer_xcx  img {
    display: block;
    width: 100%;
    height: 100%;
}
.top_con_nav ul li {
    float: left;
    width: 2.41067rem;
}
.index_course_zx_a {
    position: absolute;
    right: 5.61067rem;
    bottom: 1rem;

    display: block;
    width: 4.437333rem;
    height: 1.152rem;
}
.index_course_more_a {
    position: absolute;
    right: .46933rem;
    bottom: 1rem;

    display: block;
    float: right;
    width: 4.437333rem;
    height: 1.152rem;
    margin-top: .40533rem;
}
.index_course_zx_a img,
.index_course_more_a img {
    width: 100%;
    height: 100%;
}
.index_coure_top_nav {
    display: flex;
    width: 15.36rem;
    height: 2.02667rem;
    margin: 0 auto 1.92rem;
}
.index_coure_top_nav  li,
.index_coure_top_nav  li a {
    display: block;
    margin: auto;

    text-align: center;
    text-align: center;

    flex: 1;
}
.index_coure_top_nav  li a img {
    display: block;
    margin: auto;
}
.index_coure_top_nav li span:nth-of-type(2) {
    display: block;
    height: .597333rem;
    margin-top: .277333rem;

    font-size: .512rem;
    line-height: .597333rem;

    color: rgb(254,143,0);
}
.index_coure_top_nav li:nth-of-type(1) span:nth-of-type(1) {
    display: block;
    width: 54px;
    height: 58px;
    margin: AUTO;

    background: url(/static/images/nav_icon/nav_hzn.png) no-repeat center top;
    /* background-size: 54px 58px; */
}
.index_coure_top_nav li:nth-of-type(1).index_cou_active span:nth-of-type(1) {
    background: url(/static/images/nav_icon/nav_hz.png) no-repeat center top;
}
.index_coure_top_nav li:nth-of-type(2) span:nth-of-type(1) {
    display: block;
    width: 56px;
    height: 61px;
    margin: AUTO;

    background: url(/static/images/nav_icon/top_nav_mr.png) no-repeat center top;
    /* background-size: 54px 58px; */
}
.index_coure_top_nav li:nth-of-type(2).index_cou_active span:nth-of-type(1) {
    background: url(/static/images/nav_icon/nav_mr.png) no-repeat center top;
}
.index_coure_top_nav li:nth-of-type(3) span:nth-of-type(1) {
    display: block;
    width: 63px;
    height: 55px;
    margin: AUTO;

    background: url(/static/images/nav_icon/nav_mjn.png) no-repeat center top;
    /* background-size: 54px 58px; */
}
.index_coure_top_nav li:nth-of-type(3).index_cou_active span:nth-of-type(1) {
    background: url(/static/images/nav_icon/nav_mj.png) no-repeat center top;
}
.index_coure_top_nav li:nth-of-type(4) span:nth-of-type(1) {
    display: block;
    width: 64px;
    height: 50px;
    margin: AUTO;

    background: url(/static/images/nav_icon/top_nav_sy.png) no-repeat center top;
    /* background-size: 54px 58px; */
}
.index_coure_top_nav li:nth-of-type(4).index_cou_active span:nth-of-type(1) {
    background: url(/static/images/nav_icon/nav_sy.png) no-repeat center top;
}
.index_cou_active span:nth-of-type(2) {
    color: rgb(243,80,12)!important;
}
.index_coure_top_nav li:nth-of-type(2) span:nth-of-type(2) {
    margin-top: .23rem;
}
.index_coure_top_nav li:nth-of-type(3) {
    margin-top: .084rem;
}
.index_coure_top_nav li:nth-of-type(4) {
    margin-top: .25rem;
}
.courseCon .swiper-slide > ul {
    height: 16.256rem;
}
.nav_mj {
    margin-top: .12rem!important;
}
.top_nav_sy {
    margin-top: .2rem!important;
}
