
@charset "utf-8";

/* ***reset*** */
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}
form {
    display: inline;
}
img {
    border: 0;
}
td {
    word-break: break-all;
}
dd,
dl,
dt,
li,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* a:hover {
    color:black;
} */
body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}
.f-fr {
    float: right;
}
.f-fl {
    float: left;
}
.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}
.f-cb {
    zoom: 1;
}
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;
}
.wrapper {
    width: 15.99829352rem;
    margin: 0 auto;
}
.wrapper .g-container {
    width: 15.99829352rem;
    margin: 0 auto;
}

.news .head {
    height: 5.11945392rem;

    background: url("/static/images/news_bg1.jpg") left center no-repeat #eeeeed;
    background-size: auto 100%;
}
.news .head .g-doc {
    height: 100%;
}
.news .head p {
    float: right;
    width: 10.66552901rem;
    padding-top: 1.66382253rem;
    margin-right: .76791809rem;

    font-size: .6612628rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .55460751rem;

    text-align: right;
    letter-spacing: 0rem;

    opacity: .7;
    color: #ea5413;
}
.news .head .line {
    float: right;
    width: 1.38651877rem;
    height: .08532423rem;
    margin-top: .38395904rem;
    margin-right: .76791809rem;
    margin-left: 10.66552901rem;

    opacity: .5;
    background-color: #ea5413;
}
.news .head h1 {
    float: right;
    width: 10.66552901rem;
    margin-top: .34129693rem;
    margin-right: .76791809rem;

    font-size: .93856655rem;  /*font-weight: normal;*/
    font-stretch: normal;
    line-height: .93856655rem;

    text-align: right;
    letter-spacing: 0rem;

    color: #ea5413;
}
.news .banner {
    height: 5.33276451rem;
    padding-top: .63993174rem;

    background-color: #e6e6e6;
}
.news .banner .slider-wrapper {
    position: relative;

    width: 100%;
    height: 4.2662116rem;
    overflow: hidden;
}
.news .banner .slider-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 45.64846416rem;
    height: 4.2662116rem;
}
.news .banner .item {
    float: left;
    width: 6.78327645rem;
    height: 4.2662116rem;
    margin-right: .29863481rem;
    overflow: hidden;

    border-radius: .14931741rem;
    background-color: #fff;
}
.news .banner .item img {
    display: block;
    width: 100%;
    height: 100%;
}
.news_list .list {
    padding: .68259386rem 0 2.04778157rem;

    background-color: #ebedee;
}
.news_list .list .item {
    width: 15.27303754rem;
    padding-bottom: .55460751rem;
    margin: 0 auto .76791809rem;

    background-color: #fff;
    box-shadow: .06399317rem .08532423rem .38395904rem 0rem rgba(33, 22, 19, .06);
}
.news_list .list .item img {
    display: block;
    width: 100%;
}
.news_list .list .item h2 {
    padding: 0 .42662116rem;
    margin-top: .59726962rem;

    font-size: .55460751rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    letter-spacing: 0rem;

    color: #2e2d2d;
}
.news_list .list .item .des {
    width: 14.41979522rem;
    height: auto;
    padding: 0 .42662116rem;
    margin-top: .34129693rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: justify;
    letter-spacing: 0rem;

    opacity: .7;
    color: #444;
}
.news_list .list .item .des span {
    color: #f24c04;
}
.news_list .list .item .tools {
    padding: 0 .42662116rem;
    margin-top: 1.02389078rem;

    font-size: .29863481rem;
    line-height: .51194539rem;
}
.news_list .list .item .tools span {
    font-size: .29863481rem;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: -1px;

    color: #bdbdbd;
}
.news_list .list .item .tools .click {
    margin-right: .21331058rem;

    font-size: .29863481rem;
    line-height: .29863481rem;
}
.news_list .list .item .tools .share-wrapper {
    float: right;
    width: 4.69283276rem;
    height: .51194539rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    color: #8c8c8c;
}
.news_list .list .item .tools .share-wrapper img {
    display: inline-block;
    width: 2.30375427rem;

    vertical-align: middle;
}
.news_list .list .item .tools .icon_click {
    display: inline-block;
    width: .29863481rem;
    height: .29863481rem;

    vertical-align: -1px;

    background: url("/static/images/icon_click.png") center center no-repeat;
    background-size: cover;
}
.news_list .list .item .tools .icon_share {
    display: inline-block;
    width: .42662116rem;
    height: .42662116rem;
    margin-right: .08532423rem;

    vertical-align: middle;

    background: url("/static/images/icon_share.png") center center no-repeat;
    background-size: cover;
}
.news_list .list .pageindex {
    height: 1.53583618rem;
    padding: 0 .42662116rem;
    margin-top: 1.62116041rem;
}
.news_list .list .pageindex li {
    display: inline-block;
    margin-right: .08532423rem;

    font-size: .51194539rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.49317406rem;

    letter-spacing: 0rem;

    color: #474747;
    border: solid 1px #e6e6e6;
    background-color: #fff;
}
.news_list .list .pageindex li a {
    padding: 0 .51194539rem;

    line-height: 1.49317406rem;

    color: #474747;
}
.news_list .list .pageindex li.thisclass,
.news_list .list .pageindex li:hover {
    color: #fff;
    background-color: #ea5413;
}
.news_list .list .pageindex li.thisclass a,
.news_list .list .pageindex li:hover a {
    color: #fff;
}
.news_list .list .pageindex li.thisclass {
    padding: 0 .51194539rem;
}
.news_article .article {
    padding: 1.23720137rem .63993174rem 1.49317406rem;

    background-color: #fff;
}
.news_article .article .article-head {
    text-align: center;
}
.news_article .article .article-head h2 {
    font-size: .59726962rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.70648464rem;

    letter-spacing: 0rem;

    opacity: .8;
    color: #000;
}
.news_article .article .article-head p {
    font-size: .42662116rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59726962rem;

    letter-spacing: 0rem;

    opacity: .5;
    color: #000;
}
.news_article .article .article-content {
    padding-top: 1.27986348rem;
}
.news_article .article .article-content p {
    margin-bottom: .42662116rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .63993174rem;

    text-align: justify;
    letter-spacing: 0rem;

    opacity: .9;
    color: #494b4d;
}
.news_article .article .article-content img {
    display: block;
    width: 100%;
    margin-bottom: .68259386rem;
}
.news_article .article .tools {
    height: .51194539rem;
    margin-top: .63993174rem;
    margin-bottom: 1.27986348rem;  /*padding: 0 20rem/@fb;*/

    font-size: .38395904rem;
    line-height: .51194539rem;
}
.news_article .article .tools span {
    font-size: .29863481rem;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: -1px;

    color: #bdbdbd;
}
.news_article .article .tools .share-wrapper {
    float: right;
    width: 4.47952218rem;
    height: .51194539rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;

    color: #8c8c8c;
}
.news_article .article .tools .share-wrapper img {
    display: inline-block;
    width: 2.30375427rem;

    vertical-align: middle;
}
.news_article .article .tools .icon_share {
    display: inline-block;
    width: .42662116rem;
    height: .42662116rem;
    margin-right: .08532423rem;

    vertical-align: middle;

    background: url("/static/images/icon_share.png") center center no-repeat;
    background-size: cover;
}
.news_article .article .bottomnav {
    font-size: .46928328rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .68259386rem;

    letter-spacing: 0rem;

    opacity: .78;
    color: #494b4d;
}
.news_article .article .bottomnav a {
    line-height: .68259386rem;

    vertical-align: middle;
}
.news_article .article .bottomnav .prev {
    margin-bottom: .21331058rem;

    line-height: .68259386rem;
}
.news_article .article .bottomnav .next {
    line-height: .68259386rem;
}
.news_article .article .bottomnav .icon_prev {
    display: inline-block;
    width: .51194539rem;
    height: .51194539rem;
    margin-right: .21331058rem;

    vertical-align: middle;

    background: url("/static/images/icon_prev.png") center center no-repeat;
    background-size: cover;
}
.news_article .article .bottomnav .icon_next {
    display: inline-block;
    width: .51194539rem;
    height: .51194539rem;
    margin-right: .21331058rem;

    vertical-align: middle;

    background: url("/static/images/icon_next.png") center center no-repeat;
    background-size: cover;
}
.news_article .article .bottomnav a {
    color: #494b4d;
}
.works .banner {
    width: 15.99829352rem;
    height: 9.3003413rem;
    margin-top: -1.96245734rem;

    background: url("/static/images/works_banner.jpg") center center no-repeat;
    background-size: cover;
}
.work_list .nav {
    height: 3.83959044rem;
    padding-top: 1.27986348rem;

    background-color: #f0f0f0;
}
.work_list .nav .g-doc {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: justify;
    justify-content: space-between;
}
.work_list .nav .item {
    float: left;
    width: 2.73037543rem;
    height: 2.43174061rem;
    padding-top: .29863481rem;
    margin: 0 .55460751rem;

    line-height: .2559727rem;

    text-align: center;

    border: solid 1px #a0a0a0;
    border-radius: 100%;
}
.work_list .nav .item i {
    display: block;
    width: 1.36518771rem;
    height: 1.36518771rem;
    margin: 0 auto;
}
.work_list .nav .item span {
    font-size: .46928328rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .2559727rem;

    text-align: center;
    letter-spacing: 0;

    color: #a0a0a0;
}
.work_list .nav .item.active,
.work_list .nav .item:hover {
    border: solid 1px #f94d05;
    background-color: #f94d05;
}
.work_list .nav .item.active span,
.work_list .nav .item:hover span {
    color: #fff;
}
.work_list .nav .item1 i {
    background: url("/static/images/works_nav1.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item2 i {
    background: url("/static/images/works_nav2.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item3 i {
    background: url("/static/images/works_nav3.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item4 i {
    background: url("/static/images/works_nav4.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item1.active i,
.work_list .nav .item1:hover i {
    background: url("/static/images/works_nav1_hover.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item2.active i,
.work_list .nav .item2:hover i {
    background: url("/static/images/works_nav2_hover.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item3.active i,
.work_list .nav .item3:hover i {
    background: url("/static/images/works_nav3_hover.png") center center no-repeat;
    background-size: cover;
}
.work_list .nav .item4.active i,
.work_list .nav .item4:hover i {
    background: url("/static/images/works_nav4_hover.png") center center no-repeat;
    background-size: cover;
}
.work_list .head {
    height: 1.96245734rem;
    padding-top: .63993174rem;

    background: url("/static/images/works_bg.jpg") right center no-repeat;
    background-size: auto 100%;
}
.work_list .head h2 {
    width: 8.31911263rem;
    height: 1.23720137rem;
    margin-left: .42662116rem;

    background: url("/static/images/works_bgt.png") center center no-repeat;
    background-size: cover;
}
.work_list .list {
    background-color: #f0f0f0;
}
.work_list .list .g-doc {
    padding: .42662116rem;
}
.work_list .list .works-pic a {
    display: block;
    float: left;
    width: 4.99146758rem;
    height: 4.5221843rem;
    margin-right: .04266212rem;
    margin-bottom: .08532423rem;
}
.work_list .list .works-pic a img {
    display: block;
    width: 100%;
    height: 100%;
}
.work_list .list .works-video a {
    position: relative;

    display: block;
    float: left;
    width: 7.50853242rem;
    height: 4.60750853rem;
    margin-right: .04266212rem;
    margin-bottom: .08532423rem;
}
.work_list .list .works-video a img {
    display: block;
    width: 100%;
    height: 100%;
}
.work_list .list .works-video a:after {
    position: absolute;
    right: .21331058rem;
    bottom: .21331058rem;

    display: block;
    width: .76791809rem;
    height: .76791809rem;

    content: "";

    background: url("/static/images/icon_play.png") center center no-repeat;
    background-size: cover;
}
.work_list .list .more {
    display: block;
    width: 4.35153584rem;
    height: 1.79180887rem;
    margin: .42662116rem auto .85324232rem;

    font-size: .46928328rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.15187713rem;

    text-align: center;
    letter-spacing: 0;

    color: #f94d05;
    border: solid 1px #f94d05;
}
.work_list .list .more i {
    display: block;
    width: .61860068rem;
    height: .42662116rem;
    margin: 0 auto;

    background: url("/static/images/icon_more.png") center center no-repeat;
}
.works_article {
    background-color: #f0f0f0;
}
.works_article .person {
    padding: 1.0665529rem 0 0;
    margin-bottom: .29863481rem;
}
.works_article .person .g-doc {
    padding: .42662116rem .63993174rem .85324232rem;
    margin: 0 .29863481rem;

    background-color: #fff;
}
.works_article .person .person-head .img-box {
    float: left;
    width: 1.79180887rem;
    height: 1.79180887rem;
    margin-right: .51194539rem;
    overflow: hidden;

    border-radius: 100%;
}
.works_article .person .person-head .img-box img {
    display: block;
    width: 100%;
    height: 100%;
}
.works_article .person .person-head .name-box h2 {
    font-size: .72525597rem;
    font-stretch: normal;
    line-height: 1.15187713rem;

    letter-spacing: 0;

    color: #000;
}
.works_article .person .person-head .name-box p {
    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .42662116rem;

    letter-spacing: 0;

    color: #8e8e8e;
}
.works_article .person .person-head .name-box p span {
    padding-right: .21331058rem;
}
.works_article .person .person-content .img-box {
    display: -ms-flexbox;
    display: flex;
    margin-top: .2559727rem;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.works_article .person .person-content .img-box img {
    display: block;
    float: left;
    width: 1.91979522rem;
    height: 1.91979522rem;
    margin-right: .04267rem;
}
.works_article .person .person-content p {
    margin-top: .51194539rem;

    font-size: .38395904rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: justify;
    letter-spacing: 0;

    opacity: .8;
    color: #787878;
}
.works_article .course {
    margin-bottom: .72525597rem;
}
.works_article .course .g-doc {
    padding: .76791809rem .63993174rem;
    margin: 0 .29863481rem;

    background: url("/static/images/works_course_bg.jpg") right center no-repeat #fff;
    background-size: auto 100%;
}
.works_article .course h2 {
    font-size: .72525597rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85333rem;

    letter-spacing: 0;

    color: #000;
}
.works_article .course .item-wrapper {
    width: 11.09215017rem;
    margin-top: .29863481rem;
    margin-bottom: .21331058rem;
}
.works_article .course .item-wrapper .item {
    position: relative;

    float: left;
    width: 2.55972696rem;
    height: 2.00511945rem;
    margin-right: .04266212rem;
    margin-bottom: .08532423rem;

    line-height: .51194539rem;

    background: url("/static/images/course_bg.png") center center no-repeat;
    background-size: cover;
}
.works_article .course .item-wrapper .item span {
    position: absolute;
    top: 0;
    bottom: 0;

    display: table-cell;
    width: 2.55972696rem;
    height: 1.0665529rem;
    margin: auto;

    font-size: .42662116rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;

    color: #fff;
}
.works_article .course .item-wrapper .item span .custom {
    font-size: .29863481rem;
    font-weight: normal;
}
.works_article .course .item-wrapper .item span .custom2 {
    font-size: .38395904rem;
    font-weight: normal;
}
.works_article .course .item-wrapper .item1 span {
    height: .53327645rem;
}
.works_article .course .item-wrapper .item.active {
    background: url("/static/images/course_bg_hover.png") center center no-repeat;
    background-size: cover;
}
.works_article .works-pic {
    margin-bottom: 1.57849829rem;
}
.works_article .works-pic .g-doc {
    padding: .38395904rem .21331058rem;
    margin: 0 .29863481rem;

    background-color: #fff;
}
.works_article .works-pic .row {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.works_article .works-pic a.pic {
    display: block;
    float: left;
    width: 4.86348123rem;
    height: 4.86348123rem;
    margin: 0 .04266212rem .12798635rem;
}
.works_article .works-pic a.pic img {
    display: block;
    width: 100%;
    height: 100%;
}
.works_article .works-pic a.video {
    position: relative;

    display: block;
    float: left;
    width: 7.33788396rem;
    height: 4.47952218rem;
    margin: 0 .06399317rem;
}
.works_article .works-pic a.video img {
    display: block;
    width: 100%;
    height: 100%;
}
.works_article .works-pic a.video:after {
    position: absolute;
    right: .21331058rem;
    bottom: .21331058rem;

    display: block;
    width: .76791809rem;
    height: .76791809rem;

    content: "";

    background: url("/static/images/icon_play.png") center center no-repeat;
    background-size: cover;
}
.jq22,
.vi {
    display: none;
}
#stu_list_Con > div {
    display: none;
}
#stu_list_Con .stu_fdiv2 {
    display: block;
}
.hg_auto {
    height: auto!important;
}
body {
    margin-top: 2.01067rem!important;

    background-color: rgba(255, 255, 255, .25)!important;
}
#header {
    background: rgba(255, 255, 255, .25)!important;;
}
#header .heading .logo {
    width: 3.62667rem;
    height: .93867rem;
    padding-top: .490667rem;
    margin: 0 auto;
}
