/*
* @Author: Administrator
* @FileName:list_faculty.css
* @Date:   2019-01-25 15:53:41
* @Last Modified by:   Administrator
* @Last Modified time: 2019-01-31 16:04:53
*/
.list_faculty_banner {
    /* height: 739px; */
    display: block;
    width: 16rem;
}
#teacher_tab {
    width: 14.90533rem;
    margin: 1.472rem auto 1.344rem;
    overflow: hidden;
    /* border: 1px solid red; */
}
#teacher_tab ul li {
    float: left;
    width: 2.73067rem;
    height: 2.73067rem;
    margin-left: 1.19467rem;

    font-size: .384rem;
    line-height: .91733rem;
    line-height: .896rem;

    cursor: pointer;
    text-align: center;
    /* text-indent: 2em; */

    color: rgba(23,25,38,.6);
    /* background-color: #e3dee3; */
    border: .04267rem solid rgb(160,160,160);
    border-radius: 50%;
}
#teacher_tab ul li span {
    display: block;
    margin: 1.57867rem auto 0;

    text-align: center;
}
.teacher_fli2 {
    color: rgb(255,255,255)!important;
    border: 1px solid rgb(249,77,5)!important;
    background: rgb(249,77,5)!important;
}
#teacher_tab > ul > li:nth-of-type(1) {
    margin-left: 0!important;
}
#teacher_tab > ul > li:nth-of-type(1) {
    background: url("/static/images/list_teach_tab1.png") no-repeat .896rem .46933rem;
    background-size: 1.17333rem 1.30133rem;
}
#teacher_tab > ul > li:nth-of-type(1).teacher_fli2 {
    background: url("/static/images/list_teach_tab1_foucs.png") no-repeat .896rem .46933rem rgb(248,77,4) !important;
    background: rgb(248,77,4);
    background-position: .17067rem .21333rem;
    background-size: 1.088rem 1.23733rem!important;
}
#teacher_tab > ul > li:nth-of-type(2) {
    background: url("/static/images/list_teach_tab2.png") no-repeat .896rem .46933rem;
    background-position: .74667rem .46933rem;
    background-size: 1.17333rem 1.30133rem;
}
#teacher_tab > ul > li:nth-of-type(2).teacher_fli2 {
    background: url("/static/images/list_teach_tab2_foucs.png") no-repeat .796rem .46933rem  rgb(248,77,4) !important;
    background: rgb(248,77,4);
    background-size: 1.088rem 1.23733rem!important;
}
#teacher_tab > ul > li:nth-of-type(3) {
    background: url("/static/images/list_teach_tab3.png") no-repeat .896rem .46933rem;
    background-position: .74667rem .46933rem;
    background-size: 1.36533rem 1.17333rem;
}
#teacher_tab > ul > li:nth-of-type(3).teacher_fli2 {
    background: url("/static/images/list_teach_tab3_foucs.png") no-repeat .696rem .46933rem  rgb(248,77,4) !important;
    background-position: .14667rem .16933rem;
    background-size: 1.088rem 1.23733rem!important;
}
#teacher_tab > ul > li:nth-of-type(4) {
    background: url("/static/images/list_teach_tab4.png") no-repeat  .896rem .46933rem;
    background-position: .74667rem .46933rem;
    background-size: 1.344rem 1.06667rem;
}
#teacher_tab > ul > li:nth-of-type(4).teacher_fli2 {
    background: url("/static/images/list_teach_tab4_foucs.png") no-repeat .696rem .46933rem rgb(248,77,4) !important;
    background: rgb(248,77,4);
    background-size: 1.088rem 1.23733rem!important;
}
#tea_list_Con {
    width: 16rem;
    padding-top: .49067rem;
    padding-bottom: 1.23733rem;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */

    background: rgb(228,228,228);
}
#tea_list_Con > div > ul > li:nth-of-type(1) {
    margin-left: 0;
}
#tea_list_Con > div > ul > li:nth-of-type(2n+1) {
    margin-left: 0;
}
#tea_list_Con > div {
    display: none;
    width: 15.01867rem;
    margin: auto;
}
#tea_list_Con > div > ul > li {
    position: relative;

    float: left;
    width: 7.296rem;
    height: 11.56267rem;
    /* padding: 7px 9px 0; */
    margin: 0 0 .49067rem .32rem;

    border: .021333rem solid rgba(255,255,255,1);
    /* background: #fdfdfd; */
    /* background: #fff; */
}
#tea_list_Con > div > ul > li > ol {
    height: 2.15467rem;
    padding: 0;
    margin-top: .08533rem;
    margin-left: 0;
    overflow: hidden;

    border: 0;
    background: #fff;
}
#tea_list_Con > div > ul > li > a {
    display: block;
    width: 100%;
    height: 9.344rem;

    cursor: pointer;

    background: #fff;
}
#tea_list_Con > div > ul > li > a img {
    display: block;
    width: 100%;
    height: 100%;
}
.tea_xm,
.tea_zw,
.tea_zc {
    margin-left: .64rem;
    /* background: #fff; */
}
.tea_xm {
    margin-top: .448rem;

    font-size: .59733rem;
    line-height: .68267rem;

    color: rgb(0,0,0);
}
.tea_zw {
    margin-top: .064rem;

    font-size: .42667rem;
    line-height: .42667rem;

    color: rgba(0,0,0,.6);
}
.tea_zc {
    margin-top: .128rem;

    font-size: .384rem;
    line-height: .384rem;

    color: rgba(0,0,0,.6);
}
.tea_xz,
.tea_xz1 {
    position: absolute;

    width: 1.38667rem;
    height: 1.38667rem;

    border: 1px solid rgb(234,84,19);
    border-radius: .14933rem;
}
.tea_xz {
    position: absolute;
    right: .29867rem;
    bottom: .448rem;
}.tea_xz1 {

    right: .23467rem;
    bottom: .34133rem;
}
.tea_more {
    position: absolute;
    right: .55467rem;
    bottom: .768rem;

    width: .85333rem;
    height: .85333rem;

    cursor: pointer;

    color: rgb(248,77,4);
}
.tea_more a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: .42667rem;
    line-height: .49067rem;

    text-decoration: none;

    color: rgb(248,77,4);
}
.tea_fouce {
    border: 1px solid rgba(234,84,19,.6)!important;
    background: #fdfdfd;
}
.tea_fouce .tea_xz,
.tea_fouce .tea_xz1 {
    border: 1px solid rgb(234,84,19);
}.tea_fouce .tea_more a {

    color: rgb(248,77,4);
}
.tea_hidee {
    display: none;
}
.tea_fouce a {
    background: #fff!important;
}
#tea_list_Con .tea_fdiv2 {
    display: block!important;
}
#tea_list_Con > div {
    display: none;
}
