/*
* @Author: Administrator
* @FileName:index.css
* @Date:   2019-09-19 14:14:35
* @Last Modified by:   Administrator
* @Last Modified time: 2019-10-07 18:06:57
*/
* {
    padding: 0;
    margin: 0;
}
.banner_a {
    display: block;
    width: 100%;
}
.banner_a img {
    display: block;
    width: 100%;
}
._1400 {
    position: relative;

    width: 1400px;
    margin: auto;
}



@font-face {
    font-family: "Alibaba-PuHuiTi-Medium";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/Alibaba-PuHuiTi-Medium.ttf") format("truetype"),url("../fonts/Alibaba-PuHuiTi-Medium.woff") format("woff"), url("../fonts/Alibaba-PuHuiTi-Medium.svg") format("svg");
}

@font-face {
    font-family: "Didot-Italic-2";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/Didot-Italic-2.ttf") format("truetype"),url("../fonts/Didot-Italic-2.woff") format("woff"), url("../fonts/Didot-Italic-2.svg") format("svg");
}
@font-face {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/Alibaba-PuHuiTi-Regular.ttf") format("truetype"),url("../fonts/Alibaba-PuHuiTi-Regular.woff") format("woff"), url("../fonts/Alibaba-PuHuiTi-Regular.svg") format("svg");
}

@font-face {
    font-family: "SourceHanSansCN-Bold";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/SourceHanSansCN-Bold.ttf") format("truetype"),url("../fonts/SourceHanSansCN-Bold.woff") format("woff"), url("../fonts/SourceHanSansCN-Bold.svg") format("svg");
}

@font-face {
    font-family: "meiryonboot";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/meiryonboot.ttf") format("truetype"),url("../fonts/meiryonboot.woff") format("woff"), url("../fonts/meiryonboot.svg") format("svg");
}
@font-face {
    font-family: "meiryobold";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/meiryobold.ttf") format("truetype"),url("../fonts/meiryobold.woff") format("woff"), url("../fonts/meiryobold.svg") format("svg");
}
.part1_titleIcon {
    position: relative;
    width: 591px;
    margin: 0 auto;
    font-family: "meiryobold";
    font-size: 20px;
    letter-spacing: 2px;
    color: rgba(52,52,52,.53);
}
.part1_title {
    position: relative;

    width: 703px;
    margin: 15px auto 0;

    font-family: "Alibaba-PuHuiTi-Medium";
    font-size: 65px;
    font-style: italic;
    line-height: 57px;

    text-align: center;

    color: rgb(52,52,52);
}
.part1_ltitle {
    position: absolute;
    right: 0;
    width: 354px;
    width: 32px;
    height: 26px;
    background-: -10px 10px;
}
.part1_title span {
    margin-left: 8px;

    color: rgb(245,99,37);
}
.part1_icon {
    position: absolute;
    top: 5px;
    right: 0;
}
.part1_line {
    position: absolute;
    top: 168px;
    left: 373px;
    z-index: -1;
    width: 663px;
    height: 36px;
    /* margin: 17px auto 0; */
    background: rgb(255,242,210);
}
.part1_title2 {
    font-family: "Didot-Italic-2";
    font-size: 19px;

    color: rgba(52,52,52,.53);
}
.part1_title2 {
    display: block;
    margin: 19px auto 0;
}
.part1_des {
    width: 1299px;
    margin: auto;
    margin-top: 64px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 48px;

    text-align: center;

    color: rgb(102,102,102);
}
.part1_ul {
    width: 1162px;
    margin: 105px auto 0;
    overflow: hidden;
}
.part1_ul li {
    position: relative;

    float: left;
    width: 545px;
    height: 734px;
    margin-right: 36px;
    margin-bottom: 27px;

    list-style: none;

    background: rgb(241,240,236);
}
.part1_ul li:last-child {
    margin-right: 0;
}
.part1_ul > li p {
    position: relative;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 48px;
    line-height: 56px;

    text-indent: 44px;

    color: rgb(52,52,52);
    border-bottom: 1px solid rgb(214,218,221);
    /* left: 50px; */
}
.part1_ul > li p:after {
    position: absolute;
    top: 23px;
    left: 22px;

    display: block;
    width: 6px;
    height: 6px;

    content: "";

    border-radius: 50%;
    background: rgb(245,99,37);
}
.part1_ul > li:nth-of-type(1) > p:nth-of-type(4):after,
.part1_ul > li:nth-of-type(1) > p:nth-of-type(5):after,
.part1_ul > li:nth-of-type(1) > p:nth-of-type(6):after {
    display: none!important;
}
.part1_ul > li:nth-of-type(2) > p:nth-of-type(6):after {
    display: none!important;
}
.part1_ul > li:nth-of-type(3) > p:nth-of-type(2):after,
.part1_ul > li:nth-of-type(3) > p:nth-of-type(4):after,
.part1_ul > li:nth-of-type(3) > p:nth-of-type(8):after {
    display: none!important;
}
.part1_ul > li:nth-of-type(4) > p:nth-of-type(5):after,
.part1_ul > li:nth-of-type(4) > p:nth-of-type(6):after {
    display: none!important;
}
.part1_bg7_mldyk {
    top: -172px;

    border-bottom: none;
}
.part3_radio {
    bottom: 25px!important;
}
.part4_radio {
    bottom: 141px!important;
}
.part2_radio {
    bottom: 87px!important;
}
.part2 {
    position: relative;
    width: 100%;
    height: 224px;
    background-color: rgb(241,240,236);
}
.part9 {
    height: 1208px;

    background: rgb(237,239,241);
}
.part9Btn,
.part5Btn,
.part4Btn,
.part3Btn,
.part1Btn {
    position: relative;
    width: 362px;
    margin: 0px auto 0;
    cursor: pointer;
}
.part4Btn {
    margin-top: 720px;
    margin-bottom: 77px;
}
.part5Btn {
    margin-top: 112px;
    margin-bottom: 119px;
}
.part1Btn span,
.part9Btn span,
.part5Btn span,
.part4Btn span,
.part3Btn span,
.part1Btn span,
.part4_1Btn span {
    position: absolute;
    top: 10px;
    left: 55px;
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 32px;
    color: rgb(255,255,255);
}
.part5Btn span {
    left: 39px;
}
.part4Btn span {
    left: 18px;
}
.part3Btn span {
    left: 38px;
}
.part1Btn span {
    top: 7px;
    left: 39px;

    color: rgb(255,255,255);
}
.part3_bg {
    position: absolute;
    top: 0;
    left: -260px;
    z-index: -1;
}
.part1Btn {
    width: 326px;
    height: 69px;
    margin-top: 141px;
    margin-bottom: 100px;
    clear: both;
}
.part1Btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.part3_bg2 {
    display: block;
    /* position: absolute; */
    width: 1382px;
    padding-top: 115px;
    margin: 0 auto 72px;
}
.part2_bg {
    position: absolute;
    left: -260px;

    display: block;
    /* padding-top: 42px; */
    margin: 0 auto 0;
}
.part3  .part3_des,
.part3  .part3_des1,
.part3  .part3_des2,
.part3  .part3_des3,
.part3  .part3_des4 {
    position: absolute;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 11px;

    color: rgb(245,99,37);
}
.part3 .part3_des {
    top: 391px;
    left: 497px;
}
.part3  .part3_des1 {
    top: 391px;
    left: 946px;
}
.part3  .part3_des2 {
    top: 605px;
    left: 271px;
}
.part3  .part3_des3 {
    top: 605px;
    left: 720px;
}
.part3  .part3_des4 {
    top: 605px;
    left: 1170px;
}
.part1_kc {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;

    color: rgb(52,52,52);
}
.last_kc:after {
    content: "";
}
.part1_kc_fist {
    margin-top: 25px;
}
.part1_title2 {
    position: relative;
    /* text-align: center; */
    /* border: 1px solid red; */

    width: 660px;
    height: 26px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 26px;
    line-height: 26px;

    text-indent: 92px;
    letter-spacing: 2px;

    color: rgb(52,52,52);
}
.part1_radio {
    position: absolute;
    bottom: 199px;
    left: 42px;
}
.part1_kc2 {
    border-bottom: none!important;
}
.part_title_3 {
    position: absolute;
    top: 254px;
    left: 52px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 30px;

    color: rgb(255,255,255);
}
.part2_line {
    position: absolute;
    top: 70px;
    left: 378px;
    z-index: -1;
    z-index: 4;
    /* width: 535px; */
    /* height: 19px; */
    width: 3px;
    /* background: rgb(255,242,210); */
}
.part1_ul > li p.part1_bg3_mldyk {
    position: absolute!important;
    top: 385px;
    left: -9px;

    width: 500px;

    border-bottom: none;
}
.part1_bg4_xjmjjff {
    position: absolute!important;
    top: 250px;
    left: 210px;

    text-indent: 33px!important;
}
.part1_bg_noll {
    display: block;
    height: 46px;

    border-bottom: 1px solid rgb(214,218,221);
}
.part1_bg_noll_radio {
    position: absolute;
    bottom: 83px;
    left: 36px;
}
.part1_bz {
    float: right;
    margin-top: 17px;
    margin-right: 155px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 18px;

    color: rgb(62,61,69);
}
.part1_title2_radio {
    position: absolute;
    top: 11px;
    left: 374px;

    display: block;
    width: 4px;
    height: 4px;

    background: rgb(0, 0, 0);
}
.part2_icon1 {
    position: absolute;
    top: 70px;
    left: 80px;
}
.part2_icon2 {
    position: absolute;
    top: 70px;
    left: 444px;
}
.part2 ._1400 {
    height: 100%;
}
.part2_ul1 {
    position: relative;
    position: absolute;
    top: 70px;
    left: 155px;
    z-index: 4;
    width: 201px;
    list-style: none;
}
.part2_ul1 > li {
    width: 100%;
}
.part2_ul1 > li:nth-of-type(1) {
    font-family: "Alibaba-PuHuiTi-Medium";
    font-size: 24px;
    line-height: 28px;

    color: rgb(102,102,102);
}.part2_ul1 > li:nth-of-type(2),

 .part2_ul1 > li:nth-of-type(3) {
     font-family: "Alibaba-PuHuiTi-Regular";
     font-size: 20px;

     color: rgb(102,102,102);
 }
.part2_ul1_span1 {
    display: block;
    width: 2px;
    height: 79px;

    background: rgba(246,160,123,.79);
}
.part2_ul2 {
    top: 70px;
    left: 518px;
}
.part2_line2 {
    top: 70px;
    /* top: 0; */
    left: 728px;
}.part2_icon3 {

     position: absolute;

     top: 70px;

     left: 808px;

 }
.part2_ul3 {
    top: 70px;
    left: 888px;
}
.part2_line3 {
    left: 1078px;
}.part2_icon4 {

     position: absolute;

     top: 70px;

     left: 1145px;

 }
.part2_ul4 {
    top: 70px;
    left: 1221px;
}
.part2_ltitle {
    display: block;
    width: 549px;
    height: 25px;
    padding-top: 99px;
    margin: auto;
}.part2_title {

     position: relative;

     width: 703px;

     margin: 15px auto 0;

     font-family: "Alibaba-PuHuiTi-Medium";

     font-size: 65px;

     font-style: italic;

     line-height: 57px;

     text-align: center;

     color: rgb(255,255,255);

 }.part2_title span {

      margin-left: 2px;

      color: rgb(245,103,40);
  }
.part3_line {
    position: absolute;
    top: 170px;
    left: 373px;
    z-index: -1;
    width: 663px;
    height: 36px;
    /* margin: 17px auto 0; */
    background: rgb(104,104,98);
}
.part3_des_des {
    width: 953px;
    margin: 51px auto 0;
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: rgb(255,255,255);
}




.part2_line_part2 {
    top: 222px;
    left: 432px;
    z-index: -1;
    width: 535px;
    height: 19px;
    background: rgb(255,242,210);
}

.box_btn {
    display: block;
    width: 362px;
    height: 69px;
    margin: 0 auto;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: .5217391304347826rem;
    font-size: 32px;

    line-height: 1.173913043478261rem;

    text-decoration: none;

    color: #343434;
    background: url(../images/part5_kst.png) no-repeat center;
    background-size: 100%;
}
.box_btn span {
    width: 189px;
}



/*******************************************************************************************************/
.part3{ height: 1278px; overflow: hidden;}
.part4{ background-color: rgb(36,36,36); height: 290px; overflow: hidden;}
.part4_min{width: 1400px;margin: 0 auto;font-family: "Alibaba-PuHuiTi-Regular";color: rgb(255,254,254);font-size: 24px;overflow: hidden;margin-top: 71px;}
.part4_l{width: 628px;float: left;}
.part4_l .part4_one img{display: inline-block;vertical-align: -21%;margin-right: 10px;}
.part4_l .part4_one{ font-size: 30px; color: rgb(245,103,40)}
.part4_l p span{ color: rgb(245,103,40) }
.part4_two{ margin-left: 57px; line-height: 48px;}
.part4_min .part4_l:first-child{margin-right: 85px;/* margin-left: 76px; */}


.part5{width: 100%;overflow: hidden;}
.box_tit{width: 1400px;margin: 0 auto;text-align: center;}
.part5_min1{width: 100%;height: 339px;background-color: rgb(241,240,236);overflow: hidden;}
.box_tit_bg{background: url("../images/box5_tit_bg.png") no-repeat bottom;width: 780px;height: 102px;margin: 0 auto;margin-top: 17px;}
.box_tit_bg .p1{font-size: 65px;font-family: "Alibaba-PuHuiTi-Medium";color: rgb(52,52,52);line-height: 65px; font-style: italic}
.box_tit_bg .p1 span{ color: rgb(245,99,37);}
.box_tit_bg .p2{font-size: 26px;font-family: "Alibaba-PuHuiTi-Regular";color: rgb(52,52,52);line-height: 26px;margin-top: 12px;}
.part5_min2{width: 1400px;margin: 0 auto;position: relative;}
.part5_min2 .part5_img{ width: 482px; height: 478px; margin: 0 auto; display: block; margin-top: 97px;}
.part5_min2 .p1{font-family: "Alibaba-PuHuiTi-Medium";font-size: 28px;color: rgb(245,99,37);/* display: block; *//* width: 100%; */overflow: hidden;}
.part5_min2 .p2{font-family: "Alibaba-PuHuiTi-Regular";font-size: 21px;color: rgb(0,0,0);line-height: 35px;margin-top: 14px;}
.part5_one{width: 423px;position: absolute;top: 0px;left: 0px;}
.part5_two{width: 434px;position: absolute;top: 0px;left: 954px;}
.part5_three{width: 423px;position: absolute;top: 269px;left: 0px;}
.part5_four{width: 425px;position: absolute;top: 269px;left: 954px;}
.part5_min2 .p1 span{width: 174px;display: block;float: left;}
.part5_min2 .p1 img{display: inline-block;vertical-align: 20%;float: left;margin-right: 15px;}

.part5_two .p1 span, .part5_four .p1 span{width: 196px;float: right;text-align: right;}
.part5_two .p1 img, .part5_four .p1 img{  float: right; margin-right: 0px; margin-left: 15px}


.part6{width: 100%;overflow: hidden;}
.part6_min1{width: 100%;height: 350px;background-color: rgb(241,240,236);overflow: hidden; margin-top: 79px;}

.box5 {width: 100%;height: 716px;overflow: hidden;}
.box5 ._1400 ul {  width: 1302px;  margin: 138px auto 0;  }
.box5_min2{ overflow: hidden;}
.box5_min2 ul li {  float: left;  width: 627px;  overflow: hidden;  }
.box5_min2 ul li:nth-of-type(1) {  margin-right: 46px;  }
.box5_min2_r {  position: relative;  float: left;  width: 326px; /* width: 7.065217391304348rem; */  margin-left: 13px;  }
.box5_min2_l {  float: left;  width: 288px;  }
.box5_min2_r .name {  z-index: 2;  display: block;  width: 185px;  height: 34px;  padding-top: 23px;  font-family: "Alibaba-PuHuiTi-Medium";  font-size: 36px;  line-height: 18px;  color: rgb(36,36,36);  }
.box5_min2_r .box5_img {  position: absolute;  top: 13px;  right: -9px;  z-index: 1;  display: block;  width: 145px;  height: 50px;  }
.box5_min2_r .txt {  font-family: "SourceHanSansCN-Bold"; font-size: 18px; line-height: 25px;  color: #242424;  }
.box5_min2_r .info {  margin-top: 8px;  font-family: "Alibaba-PuHuiTi-Regular";  font-size: 18px;  line-height: 36px;  color: #4d4d4d;  }
.box5_min2_r .line { display: block;  width: 67px;  height: 3px;  margin-top: 20px;  margin-left: -55px;  background-color: #f56325;  }



.part7{width: 100%;overflow: hidden;}
.part7_min1{width: 100%;height: 350px;background-color: rgb(241,240,236);overflow: hidden;}
.part6_2_title2 { width: 394px;text-indent: 67px;  }
.part6_rid1 { position: absolute; top: 10px;  left: 233px;  z-index: 93;  display: block;  width: 6px;  height: 6px;  border-radius: 50%;  background: rgb(52,52,52);  }
.part6_rid2 { position: absolute;  top: 10px;  left: 299px;  z-index: 93;  display: block;  width: 6px;  height: 6px;  border-radius: 50%;  background: rgb(52,52,52);  }
.part6_line {position: absolute;  top: 212px;  left: 541px;  width: 345px;  height: 17px;  background: rgb(255, 242, 210);  }
.box6 { width: 100%; overflow: hidden;  }
.box6_mt {  margin-top: 80px;  }
.box6_item { width: 100%;  height: 50px; margin: 0 auto;  clear: both;  }
.box6_item .zp1 {  float: left;  margin-left: 27px;  font-family: "Alibaba-PuHuiTi-Regular";  font-size: .6086956521739131rem;  font-size: 30px;
    line-height: 30px;  color: rgb(52,52,52);  }
.box6_item .zp1 span {  display: inline-block;  width: 17px; width: 29px;  height: 14px;  height: 29px;
    font-family: "DIN-BOLD";  font-size: 19px;  line-height: 29px;
    text-align: center; vertical-align: 18%;  color: rgb(254,213,129);  border-radius: 50%;  background-color: rgb(245,99,37);
}
.box6_item .more {  display: block; float: right; width: 232px;  height: 48px;  margin-right: 25px;
    line-height: 48px;  text-decoration: none;  text-indent: 15px;  background: url(../images/box6_btn.png) no-repeat center;  background-size: 100%;  }
.box6_item .more span {  margin-left: .3695652173913043rem;  font-family: "Alibaba-PuHuiTi-Regular";  font-size: 24px;  text-decoration: none;  color: rgb(255,255,255);  }
.part4_2_title {  z-index: 1;  }
.part6_titile {  z-index: 1;  }
.box6_1 { width: 1350px; margin: 28px auto 0;  overflow: hidden;  list-style: none;  }
.box6_1 > li {  float: left;  width: 444px;  height: 316px;  margin-right: 9px;  }
.box6_1 > li > img {  display: block; width: 100%; height: 100%;  }
.box6_1 > li:last-child {  margin-right: 0!important;  }
.box6_part2, .box6_part3 {  margin-top: 40px;  }
.box6_part3 {  margin-bottom: 100px;  }


.part8{ background: url("../images/box8_bg.jpg") no-repeat; width: 100%; height: 1402px; overflow: hidden}
.part8 .box_tit_bg{ background: url("../images/box8_tit_bg.png") no-repeat bottom;}
.part8 .box_tit_bg .p1, .part8 .box_tit_bg .p2{ color: rgb(255,255,255);}
.part8_min2{ width: 1400px; margin: 0 auto; overflow: hidden; margin-top: 87px;}
.part8_min2 ul li{ width:461px; height: 392px; float: left; margin-right: 7px; list-style: none; }
.part8_min2 ul li:nth-of-type(3n){ margin-right: 0px;}
.part8_min2 ul li img{ width:461px; height: 392px }

.box9{ background-color: rgb(57,55,61); width: 100%; height: 679px; overflow: hidden}
.box9 .box_tit_bg{ background: url("../images/box9_tit_bg.png") no-repeat bottom; height: 70px;}
.box9 .box_tit_bg .p1{ color: rgb(255,255,255);}

.part9_min2{ width: 1279px; overflow: hidden; margin: 0 auto; margin-top: 116px;}
.part9_min2 ul li{background: url("../images/box9_bg1.png");height: 70px;width: 387px;margin-right: 59px;font-size: 28px;
    font-family: "Alibaba-PuHuiTi-Regular";color: rgb(255,255,255);float: left;list-style: none;line-height: 70px; margin-bottom: 61px;}
.part9_min2 ul li a{ margin-left: 83px;color: rgb(255,255,255); text-decoration: none;}
.part9_min2 ul li:nth-of-type(2n){background: url("../images/box9_bg2.png");}
.part9_min2 ul li:nth-of-type(3n){ margin-right: 0px;}



.zx {
    animation: myfirst 1s infinite;
}

@keyframes myfirst {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
