html,body{width: 100%;padding: 0;margin: 0;}
a{ -webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;text-decoration: none;}
a:hover{text-decoration: none;}
p,ul, ol{list-style: none;margin: 0;padding: 0;}

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    overflow-x: hidden;
    position: relative;
}




.main{width: 16.0rem;margin: 0 auto;}
.banner{width: 100%;line-height: 0;position: relative;}
.banner a{display: block;}
.banner a:nth-of-type(1) img{width: 100%;}
.banner_zx{position: absolute;top:8.533333rem;left:6.784rem;}
.banner_zx img{width: 3.285333rem;height: 0.597333rem;}
.box{width: 100%;line-height: 0;position: relative;}
.box>img{width: 100%;}
.box2_zx{position: absolute;top:1.728rem;left:8.362667rem;}
.box a img{width: 2.752rem;height: 0.810667rem;}
.box3_min{position: absolute;top:2.538667rem;left:5.717333rem;width: 9.237333rem;height: 8.533333rem;}
.box3_min img{width: 100%;}
.box3_min .swiper-container{height: 100%;}
.box3_min .swiper-button-next{width: 0.576rem;height: 0.938667rem; background-image: url("../images/jiantou.png");right: -0.554667rem;background-size: 100%;}
.box3_min .swiper-pagination-bullet{width: 0.256rem;height: 0.256rem;}
.box3_min .swiper-pagination-bullet-active{background: rgb(170,95,67);}
.box3_min .swiper-pagination-bullets{bottom: 0;}
.box3_min .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 0.106667rem;}
.box3_zx{position: absolute;top:9.130667rem;left:1.514667rem;}

.box4_min{position: absolute;top:2.986667rem;left:4.437333rem;width: 10.965333rem;height: 7.68rem;}
.box4_min img{width: 100%;}
.box4_min .swiper-container{height: 100%;}
.box4_min .swiper-pagination-bullet{width: 0.256rem;height: 0.256rem;}
.box4_min .swiper-pagination-bullet-active{background: rgb(170,95,67);}
.box4_min .swiper-pagination-bullets{bottom: 0;}
.box4_min .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 0.106667rem;}
.box4_zx{position: absolute;top:6.890667rem;left:0.704rem;}
.box5_zx{position: absolute;top:1.770667rem;left:9.28rem;}
.box6_zx{position: absolute;top:1.514667rem;left:8.362667rem;}
















