/*
* @Author: Administrator
* @FileName:header.css
* @Date:   2018-12-25 10:48:21
* @Last Modified by:   Administrator
* @Last Modified time: 2019-04-01 09:31:05
*/
.nav {
    width: 100%;
    height: 85px;
    /* overflow: hidden; */

    background: rgb(245,99,37);
}
.navNav {
    position: relative;

    width: 1286px;
    height: 28px;
    padding-top: 31px;
    margin: auto;

    line-height: 28px;
    /* line-height: 100%; */
    /* border: 1px solid #fff; */
}
.navNav ul {
    float: right;
    width: 840px;
    height: 100%;
}
.navNav ul li {
    float: left;
    width: 85px;
    height: 100%;
    margin: 0 17.5px;

    text-align: center;
    /* border-radius: 942px; */
}
.navNav ul li a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 14px;

    text-decoration: none;

    color: rgb(255,255,255);
    border-radius: 12px;
}
.navNav ul li:hover {
    border-radius: 12px;
    background: rgba(255,168,55,.5);
    box-shadow: 5px 5px 8px #ea6136;
}
.navNav .foc {
    border-radius: 12px;
    background: rgba(255,168,55,.5);
    box-shadow: 5px 5px 8px #ea6136;
}
.navNav img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    padding: 0 18px;

    background: rgba(255,255,255,.9);
    box-shadow: 4px 4px 5px rgba(33,22,19,.15);
}
#banner .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
}
#banner #bannerpagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;

    opacity: .5;
    background: #fff;
}
#banner .swiper-pagination-bullet-active {
    /*width: 12px;*/
    width: 27px!important;
    height: 11px!important;

    opacity: 1!important;
    background: rgb(255,255,255)!important;
}
#banner .swiper-wrapper {
    height: auto!important;
}
