* {
    padding: 0;
    margin: 0;
}
body {
    background: #f0f0f0;
}
.new_list_con {
    position: relative;

    width: 1334px;
    padding-top: 88px;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */

    background: #f0f0f0;
}
.new_list_con > li {
    float: left;
    width: 592px;
    overflow: hidden;
    /* box-shadow: 0px 4px 10px 0px red; */

    box-shadow: 0 4px 10px 0 rgba(38,58,98,.15);
}
.new_list_con > li > ul {
    width: 100%;
    /*height: 368px;*/
    overflow: hidden;
}
.new_list_con > li > ul > li {
    float: left;
    width: 100%;
    height: 100%;
}
.new_list_con > li > ul > li:nth-of-type(1) {
    height: 368px;
    padding: 0;
    margin: 0;
}
.new_list_con > li > ul > li:nth-of-type(1) > a {
    display: block;
    width: 100%;
    height: 100%;
}
.new_list_con > li > ul > li > img:nth-of-type(1) {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.new_list_con > li > ul > li:nth-of-type(2) {
    position: relative;

    width: 100%;
    height: 260px;

    background: #fff;
    box-shadow: 0 4px 10px 0 red;
}
.new_list_p {
    width: 538px;
    margin-top: 29px;
    margin-left: 32px;

    font-size: 20px;
    line-height: 20px;
    line-height: 26px;
}
.new_list_p a {
    text-decoration: none;

    color: rgb(46,45,45);
}
.new_list_zhai {
    width: 531px;
    height: 65px;
    margin: auto;
    margin-top: 25px;

    font-size: 16px;
    line-height: 24px;

    text-align: left;
}
.new_list_zhai a {
    text-align: left;
    text-decoration: none;

    color: rgba(68,68,68,.7);
}
.new_list_zhai a span {
    text-decoration: none;

    color: rgba(242,76,4,.7);
}
.list_new_Clik {
    position: absolute;
    bottom: 33px;
    left: 32px;

    width: 16px!important;
    height: 14px!important;
}
.new_list_click_S {
    position: absolute;
    bottom: 31px;
    left: 53px;

    font-size: 14px;

    color: rgb(189,189,189);
}
.new_list_time {
    position: absolute;
    bottom: 30px;
    left: 150px;

    color: rgb(189,189,189);
}
.new_list_con > li:nth-of-type(2n) {
    margin-top: 78px;
    margin-left: 150px;
}
.list_new_line {
    position: absolute;
    top: 1px;
    left: 672px;

    width: 1px;
    height: 91px;

    background: rgb(179,179,178);
}
.list_new_fouce_line {
    position: absolute;
    left: 641px;

    width: 38px;
    height: 11px;

    line-height: 50px;
    /* border: 1px solid red; */
}
.list_new_fouce_line1 {
    top: 99px;
}
.list_new_fouce_line_s span {
    float: left;
}
.list_new_fouce_line_s span:nth-of-type(1) {
    width: 19px;
    height: 2px;
    margin-top: 5px;

    background: rgb(64,55,50);
}
.list_new_fouce_line_s span:nth-of-type(2) {
    float: right;
    width: 11px;
    height: 11px;

    border-radius: 50%;
    background: rgb(64,55,50);
}
.list_new_mid {
    position: absolute;
    top: 118px;
    left: 672px;
}
.list_new_fouce_line2 {
    top: 205px;
    /* border: 1px solid red; */
}
.list_new_fouce_line_f span:nth-of-type(1) {
    float: left;
    width: 11px;
    height: 11px;

    border-radius: 50%;
    background: rgb(64,55,50);
}
.list_new_fouce_line_f span:nth-of-type(2) {
    display: block;
    float: right;
    width: 19px;
    height: 2px;
    margin-top: 5px;

    background: rgb(64,55,50);
}
.list_new_fouce_line_f {
    top: 210px;
    left: 667px;
}
.list_new_line_check2 {
    position: absolute;
    top: 681px;
}
.list_new_line_check3 {
    position: absolute;
    top: 1365px;
}
.list_new_fouce_Line span:nth-of-type(1),
.list_new_fouce_Line span:nth-of-type(2) {
    background: rgb(242,76,4);
}
.list_new_pagginat {
    width: 1344px;
    margin: 39px auto 16px;
    margin-top: 39px;
    overflow: hidden;
}
.list_new_share {
    position: absolute;
    right: 218px;
    bottom: 30px;
}
.new_list_sha {
    position: absolute;
    right: 139px;
    bottom: 31px;

    width: 69px;

    font-size: 16px;
    line-height: 16px;

    color: rgb(140,140,140);
}
.new_list_con li a img{
    width: 100%;
    height: 100%;
}
.list_new_top{
    position: relative;
    width: 1325px;
    height: 332px;
    clear: both;
    margin: auto;
}
.list_new_top ul{
    height: 198px;
    position: relative;
    padding-top: 77px;
}
.list_new_top ul li
{
    width:316px;
    float:left;
    height:198px;
    margin-right:  13px;
}
.list_new_top ul li a,.list_new_top ul li img{
    display:block;
    width:100%;
    height:100%;
}
.list_new_top>img{
    position: absolute;
    top: 0px;
    left: -297.5px;
    bottom: 0px;
}
.new_list_po{
    overflow: hidden;
    position: relative;
    width: 1334px;
    margin: auto;
}
.list_new_line_bottom{
    position: absolute;
    bottom: 0px;
    left: 672px;
    width: 1px;
    height: 300px;
    background: rgb(179,179,178);
}