@font-face {
    font-family: "Alibaba-PuHuiTi-Medium";
    font-style: normal;
    font-weight: normal;

    src: url(../fonts/Alibaba-PuHuiTi-Medium.ttf) format("truetype") , url(../fonts/Alibaba-PuHuiTi-Medium.woff) format("woff") , url(../fonts/Alibaba-PuHuiTi-Medium.svg) format("svg");
}

@font-face {
    font-family: "Didot-Italic-2";
    font-style: normal;
    font-weight: normal;

    src: url(../fonts/Didot-Italic-2.ttf) format("truetype") , url(../fonts/Didot-Italic-2.woff) format("woff") , url(../fonts/Didot-Italic-2.svg) format("svg");
}

@font-face {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-style: normal;
    font-weight: normal;

    src: url(../fonts/Alibaba-PuHuiTi-Regular.ttf) format("truetype") , url(../fonts/Alibaba-PuHuiTi-Regular.woff) format("woff") , url(../fonts/Alibaba-PuHuiTi-Regular.svg) format("svg");
}

* {
    padding: 0;
    margin: 0;
}

.banner_a {
    display: block;
    width: 100%;
}

.banner_a img {
    display: block;
    width: 100%;
}

._1400 {
    position: relative;

    width: 1400px;
    margin: auto;
}

.part1_title {
    position: relative;

    width: 840px;
    margin: auto;

    font-family: "Alibaba-PuHuiTi-Medium";
    font-size: 60px;
    line-height: 57px;

    color: #343434;
}

.part1_title span {
    color: #f56325;
}

.part1 {
    padding-top: 129px;
}

.part1_icon {
    position: absolute;
    top: 5px;
    right: 0;
}

.part1_line {
    width: 36px;
    height: 2px;
    margin: 17px auto 0;

    background: #c7c7c7;
}

.part1_title2 {
    font-family: "Didot-Italic-2";
    font-size: 19px;

    color: rgba(52,52,52,.53);
}

.part1_title2 {
    display: block;
    margin: 23px auto 0;
}

.part1_des {
    width: 1299px;
    margin: auto;
    margin-top: 64px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 48px;

    text-align: center;

    color: #666;
}

.part1_ul {
    width: 1308px;
    margin: 50px auto 0;
    overflow: hidden;
}

.part1_ul li {
    position: relative;

    float: left;
    width: 402px;
    height: 510px;
    margin-right: 51px;

    list-style: none;

    background: #e8ebee;
}

.part1_ul li:last-child {
    margin-right: 0;
}

.part1_ul > li p {
    position: relative;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 48px;
    line-height: 48px;

    text-indent: 37px;

    color: #343434;
    border-bottom: 1px solid #d6dadd;
}

.part1_ul > li p:after {
    position: absolute;
    top: 20px;
    left: 17px;

    display: block;
    width: 6px;
    height: 6px;

    content: "";

    border-radius: 50%;
    background: #f56325;
}

.part2 {
    width: 100%;
    height: 236px;

    background: #f56325;
}

.part9 {
    height: 1208px;

    background: #edeff1;
}

.part9_title {
    position: relative;

    width: 840px;
    padding-top: 144px;
    margin: 0 auto 0;

    font-family: "Alibaba-PuHuiTi-Medium";
    font-size: 60px;
    line-height: 57px;

    color: #343434;
}

.part9_title span {
    color: #f56325;
}

.part9_icon {
    position: absolute;
    top: 150px;
    right: 0;
}

.part9_line {
    width: 33px;
    height: 2px;
    margin: 17px auto 0;

    background: #c7c7c7;
}

.part9_title2 {
    display: block;
    margin: 23px auto 0;
}

.part10 {
    height: 745px;

    background: #494a59;
}

.part10_title {
    position: relative;

    width: 958px;
    height: 60px;
    padding-top: 133px;
    margin: 0 auto 0;

    font-family: "Alibaba-PuHuiTi-Medium";
    font-size: 60px;
    line-height: 60px;

    color: #fff;
}

.part10_icon {
    position: absolute;
    top: 139px;
    right: 0;
}

.part10_bg {
    display: block;
    width: 1035px;
    margin: 87px auto 0;
}

.part10_fonts {
    position: absolute;

    display: block;
    width: 218px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 28px;
    line-height: 42px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
}

.part10_fonts1 {
    top: 295px;
    left: 241px;
}

.part10_fonts2 {
    top: 295px;
    left: 592px;
}

.part10_fonts3 {
    top: 295px;
    left: 950px;
}

.part10_fonts4 {
    top: 479px;
    left: 241px;
}

.part10_fonts5 {
    top: 479px;
    left: 592px;
}

.part10_fonts6 {
    top: 479px;
    left: 950px;
}

.part9_bg {
    display: block;
    margin: 62px auto 0;
}

.part9Btn,
.part5Btn,
.part4Btn,
.part3Btn,
.part1Btn {
    position: relative;

    width: 362px;
    margin: 39px auto 0;

    cursor: pointer;
}

.part4Btn {
    margin-bottom: 77px;
}

.part9Btn span,
.part5Btn span,
.part4Btn span,
.part3Btn span,
.part1Btn span {
    position: absolute;
    top: 10px;
    left: 55px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 32px;

    color: #343434;
}

.part5Btn span {
    left: 17px;
}

.part4Btn span {
    left: 18px;
}

.part3Btn span {
    left: 18px;
}

.part1Btn span {
    left: 20px;
}

.part8_bg {
    display: block;
    width: 100%;
}

.part6 {
    height: 350px;

    background: #edeff1;
}

.part6_bg {
    display: block;
    width: 845px;
    padding-top: 111px;
    margin: 0 auto 0;
}

.part7_con3_kst_button {
    margin-top: 80px;
    margin-bottom: 30px;
}

.part7_con1_kst_button,
.part7_con2_kst_button,
.part7_con3_kst_button {
    position: relative;
    z-index: 1;

    float: right;
    width: 232px;
    height: 48px;

    font-family: "Alibaba-PuHuiTi-Regular";

    cursor: pointer;
}

.part7_con1_kst_button img,
.part7_con2_kst_button img {
    display: block;
    width: 100%;
    height: 100%;
}

.part7_con1_kst_button a,
.part7_con2_kst_button a,
.part7_con3_kst_button a {
    position: absolute;
    top: 6px;
    left: 18px;

    display: block;

    font-size: 24px;

    text-decoration: none;

    color: #fff;
}

.part7_con1_index {
    display: block;
    width: 28px;
    height: 29px;

    border-radius: 100%;
    background: #f56325;
}

.part7_con1,
.part7_con2 {
    position: relative;

    height: 387px;
    padding-top: 132px;
}

.part7_xue1,
.part7_xue2 {
    position: absolute;
    top: 140px;
}

.part7_xue2 {
    position: absolute;
    top: 145px;
}

.part7_con3 {
    position: absolute;
    bottom: -119px;

    display: block;
    width: 224px;
    height: 30px;
}

.part6 span {
    position: absolute;
    top: 182px;

    display: block;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;
    line-height: 24px;

    text-align: justify;
    text-align: justify;

    color: #343434;
}

.part6 span:after {
    display: inline-block;
    width: 100%;

    content: "";
}

.part6_title2_1 {
    top: 181px;
    left: 477px;

    width: 189px;
}

.part6_title2_2 {
    top: 191px!important;
    left: 679px;

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background: #343434;
}

.part6_title2_3 {
    right: 538px;
}

.part5_title {
    display: block;
    margin: 129px auto 44px;
}

.part5_swiper-container {
    width: 1321px;
    margin: 46px auto 74px;
}

.part5Btn {
    margin-top: 74px;
    margin-bottom: 74px!important;
}

.part3Btn a,
.part5Btn a {
    display: block;
    width: 100%;
}

.part5_left,
.part5_right {
    position: absolute;

    outline: medium;
}

.part5_left {
    top: 490px;
    left: -22px;
}

.part5_right {
    top: 490px;
    right: -22px;
}

.part4 {
    overflow: hidden;

    background: #edeff1;
}

.part4_bg {
    display: block;
    width: 1360px;
    margin: 126px auto 74px;
}

.part3 {
    width: 100%;
    height: 976px;
}

.part3 ._1400 {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.part3_bg {
    position: absolute;
    left: -260px;
    z-index: -1;
}

.part1Btn {
    margin-top: 79px;
    margin-bottom: 73px;
}

.part3_bg2 {
    display: block;
    width: 1135px;
    padding-top: 129px;
    margin: 0 auto 61px;
}

.part2_bg {
    display: block;
    padding-top: 42px;
    margin: 0 auto 0;
}

.part3 .part3_des,
.part3 .part3_des1,
.part3 .part3_des2,
.part3 .part3_des3,
.part3 .part3_des4 {
    position: absolute;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 11px;

    color: #f56325;
}

.part3 .part3_des {
    top: 391px;
    left: 497px;
}

.part3 .part3_des1 {
    top: 391px;
    left: 946px;
}

.part3 .part3_des2 {
    top: 605px;
    left: 271px;
}

.part3 .part3_des3 {
    top: 605px;
    left: 720px;
}

.part3 .part3_des4 {
    top: 605px;
    left: 1170px;
}

.part1_kc {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 24px;

    color: #343434;
}

.last_kc:after {
    content: "";
}

.part1_kc_fist {
    margin-top: 10px;
}

.part1_radio {
    position: absolute;
    bottom: 29px;
    left: 36px;
}

.part1_kc2 {
    border-bottom: none!important;
}

.part_title_3 {
    position: absolute;
    top: 198px;
    left: 42px;

    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 30px;

    color: #fff;
}

.zx {
    animation: myfirst 1s infinite;
}

@keyframes myfirst {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}
